/*==============================GENERAL====================================*/
body{
	/*background-color: #025001;*/
	background-color: white;
	margin:0px;
	font-family: arial;
}
/*=================================NAV====================================*/

#nav {
	position: fixed;
	top: 0px;
	padding-top:20px;
	height: 60px;
	font-size: 75%;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 10px;
	opacity: 0.97;
	text-align: right;
}
	#nav ul {
		list-style-type: none;
	}
	#nav img {
		display: none;
	}
	#nav .sinmenu {
		background-color: white;
	}
		#nav .sinmenu li {
			min-height: 70px;
			display: inline;
		}
		#nav .sinmenu li a {
			color: black;
			display: inline;
			padding: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}
@media (max-width:1100px){
	#nav .sinmenu  {
		display: none;
		float: right;
		width: 50%;
		margin-top: 45px;
		text-align: left;
	}
	#nav .sinmenu li {
		display: block;
	}
	#nav .sinmenu li a {
		padding: 20px;
		margin: 0px;
		display: block;

	}
	#nav img {
		position: absolute;
		top: 40px;
		right: 15px;
		margin-top: -30px;
		margin-bottom: 20px;
		display: block;
	}
		#nav ul li:hover > ul.sinmenu {
			display: block;
		}
}

/*================================HEADER===============================*/
#preheaderFormulario .contenido {
	margin-top: 130px ;
	margin-bottom:40px ;
	text-align: center;
	}
@media (max-width:500px){

	#preheaderFormulario .contenido img {
		height: 150px;
		width: 350px;
	}
}
/*=============================INFO============================*/
#info {
	color: white;
	height: 400px;
	background-color: #006666;
	text-align: center;
	padding-top: 120px;
}
#info p {
	padding: 10px 10px 30px 10px;
}
#info a {
	font-weight: bold;
	background-color: white;
	margin-top: 20px;
	padding: 10px 30px;
	border-radius: 5px;
	color: #002A2A;
	text-decoration:none;
	cursor: pointer;
}
/*=============================FOOTER============================*/

#copyright {
	color: white;
	font-size: 80%;
	background-color: #252525;
	padding: 5px 5px 5px 30px;
}
