/*==============================GENERAL====================================*/
body{
	margin:0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
/*===============================Boton ir arriba===============================*/
.ir-arriba {
	display: none;
	position: absolute;
	bottom:100px;
	right:50%;
	cursor: pointer;
}
/*=================================NAV====================================*/

nav {
	position: fixed;
	top: 0px;
	z-index: 1;
	padding-top:15px;
	height: 55px;
	font-size: 75%;
	background-color: white;
	width: 100%;
	text-align: right;
	box-shadow:0px 2px 5px #444444;
}

	nav ul li input {
		display: none;
	}

	nav ul {
		list-style-type: none;
	}
	nav img {
		display: none;
	}
	nav .sinmenu {
		background-color: white;
		padding-right: 70px;
	}
		nav .sinmenu li {
			min-height: 70px;
			padding-left: 0px;
			display: inline;
		}
		nav .sinmenu li a {
      		color :black;
			font-weight: bolder;
			display: inline;
			padding: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}
	#login {
		background-color: #b72c2c;
		padding: 10px;
		border-radius: 3px;
		box-shadow:  2px 2px 2px 1px #444444;
		cursor: pointer;
	}
		#login a {
			color: white;
		}
	#login-form {
		z-index: 2;
		display: none;
		border-radius: 3px;
		padding-top: 30px;
		position: fixed;
		top: 80px;
		right: 100px;
		background-color: white;
		height: 380px;
		width: 310px;
		box-shadow:  7px 7px 20px 1px #242424;
		text-align: center;
	}
	#login-form hr {
		width: 70%;
		margin-bottom: 10px;
	}
	#login-form img {
		height: 30px;
		margin-bottom: 20px;
	}
	#login-form input {
		padding: 15px;
		width: 250px;
		border-width: 1px;
		border-style: solid;
		border-color: #ACAAAA;
		border-radius: 3px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		background-color:#F3F3F3;
	}
	#login-form a {
		display: block;
		text-decoration: none;
		color: #0086BF;
		margin-top: 5px;
	}
	#login-form button {
		margin-top: 20px;
		margin-bottom: 10px;
		border-width: 0px;
		color: white;
		border-radius: 3px;
		background-color: #b72c2c;
		padding: 10px;
		width: 270px;
		cursor: pointer;
		box-shadow:  2px 2px 2px 1px #444444;
	}
/*=================================LOGO====================================*/
		#logo {
			position: fixed;
			z-index: 2;
			top: -10px;
			left:30px;
			background-color: rgba(0, 0, 0, 0);
			height: 60px;
			width: 250px;
			padding-top: 15px;
			padding-left: 10px;
			border-radius: 3px;
			cursor: pointer;

		}
		#logo a  {
			z-index: 2;
			text-decoration: none;
		}
		#logo a img {
			height: 40px;
		}
		#logo a img:nth-child(2){
			padding-top: 10px;
		}


@media (max-width:1024px){
	nav .sinmenu  {
		float: right;
		width: 210px;
		display: block;
		height: 1000px;
		margin-top: 50px;
		text-align: left;
		transform: translateX(200%);
    		background-color: #232626;
		position: relative;
		z-index: inherit;
	}
	nav .sinmenu li {
		display: block;
	}
	nav .sinmenu li a {
		padding: 20px;
		margin: 0px;
		display: block;
                color:white;
	}
	#btn:checked ~ .sinmenu {
		transition: all 0.3s;
		transform: translateX(0%);
	}
	nav img {
		position: absolute;
		top: 40px;
		right: 15px;
		margin-top: -30px;
		margin-bottom: 20px;
		display: block;
	}
}
@media (max-width:355px){
	#nombre {
		width:165px;
	}
}
@media (max-width:320px){
	#nombre {
		display:none;
	}
}



/*==========================HEADER====================================*/
header {
	font-family: 'Lato', sans-serif;
	min-height: 400px;
	background-image: url("../Imagenes/cover.jpg");
	padding-top: 250px;
	text-align: center;
	box-shadow: inset 0px 0px 20px 0px;
	text-shadow: 0px 0px 2px #000000;

}
	header h2 {
		float: left;
		margin-top: 250px;
		margin-left: 30px;
		color: white;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 300%;
	}
	header p{
		float: left;
		clear: both;
		display: block;
		margin-left: 30px;
		margin-top: -30px;
		color:  white;
		font-weight: bolder;
		font-size: 150%;
	}

/*================================MISION Y VISION===============================*/
.contenedorM {
	background-color: #EBEEF0;
	min-height: 600px;
	padding: 30px;
	text-align: center;
}
	.contenedorM h2  {
		color: #3F3F42;
		font-size: 180%;
		margin: 70px 0px 50px;
	}
			.contenedorM .columnas  .col {
				cursor: pointer;
				border-radius: 5px;
				position: relative;
				background-color: white;
				display: inline-block;
				height: 300px;
				width: 280px;
				margin: 30px 25px;
				transition: all 0.5s;
			}
			.contenedorM .columnas  .col:hover {
				box-shadow: 2px 2px 4px 0px #68686E;
			}
			.contenedorM .columnas  .col h5 {
				margin-top: 20px;
				color: #881E1E;
				font-size: 100%;
			}
			.contenedorM .columnas  .col p {
				padding: 0px 10px;
				color: #68686E;
				display: block;
				height: 100px;
				text-align: justify;
			}
			.contenedorM .columnas  .col img {
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				height: 140px;
				width: 280px;
			}

}

.contenedorFormularios .opciones ul {
	/*afecta register_user.php*/
}

.contact-box {
	display: none;
	z-index: 3;
	background-color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 260%;
	width: 100%;
}
	.contact-form {
		border-radius: 3px;
		padding: 20px;
		display: block;
		margin:125px auto 0 auto;
		background-color: white;
		width: 40%;
	}
	.contact-form form {
		margin-top: -25px;
	}
	.contact-form label {
		margin-left: 9%;
		font-size: 80%;
	}
	.contact-form input , textarea {
		background-color: #F3F3F3;
		border-width: 1px;
		border-style: solid;
		border-color: #B4B4B4;
		border-radius: 3px;
		margin: 5px auto;
		padding: 3px;
		width: 80%;
		display: block;
	}
	.contact-form textarea {
		max-width: 80%;
		height: 100px;
		max-height: 120px;
	}
	.contact-form input[type="submit"] {
		margin-top: 25px;
		color: white;
		padding: 10px;
		background-color: #b72c2c;
		width: 82%;
	}
	#close-contact-form {
		cursor: pointer;
		color: white;
		font-weight: bold;
		font-size: 200%;
		position: relative;
		top: -30px;
		left: 106%;
	}


/*=============================LOGIN - INICIAR SESION============================*/
.contenedorContact {
	min-height: 576px;
	background-color: white;
	color: white;
	padding: 40px 10px 10px 10px;
	text-align: center;
}


.contenedorContact .container .login {
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
	.contenedorContact .container .login input {
		border-width: 0px;
		background-color:#F3F3F3;
		width: 310px;
		margin-bottom: 20px;
		padding: 15px;
	}
	.contenedorContact .container .login .botonLogin {
		border-radius: 3px;
		color: white;
		font-size: 100%;
		background-color: #921E1E;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 97%;
		cursor: pointer;
	}
	.contenedorContact .error {
		margin-top: -5px;
		margin-bottom: 10px;
		display: block;
		font-size: 80%;
		font-weight: bolder;
		color: #921E1E;
	}
	.container .login .title {
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 15px;
		display: block;
		font-size: 90%;
		color: grey;
	}
/*=============================REGISTER -REGISTRO USUARIO============================*/
.account-login ul {
	margin-top: 60px;
	height: 50px;
	list-style-type: none;
	padding: 10px 50px 0px 0px;
	text-align: right;
	background-color: #F2F2F2;
	cursor: default;
}
.account-login ul li {
	display: inline-block;
}
.account-login ul li:nth-child(2) {
	margin-left: 20px;
}
.account-login ul li a {
	text-decoration: none;
}
.simple-nav {
	position: absolute;
	background-color: #921E1E;
	z-index: 0;
	padding-top: 0px;
	height: 60px;
	box-shadow: 0px 0px 0px;
}
.simple-nav img {
	display: block;
	margin: 0px auto 10px auto;
	height: 40px;
}
.contenedorContact .register {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: black;
	padding: 20px;
	margin-top: -40px;
	background-color: white;
	border-radius: 5px;
	display: inline-block;
}
.register p {
	font-size: 135%;
	width: 330px;
}

.register input, select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-width: 0px;
	background-color:#F3F3F3;
}
	.register input {
		width: 300px;
		padding: 15px;
	}
	.register input[type="submit"]{
		width: 330px;
		color: white;
		border-radius: 3px;
		background-color: #921E1E;
	}
		.register input[type="submit"]:hover{
			width: 330px;
			cursor: pointer;
		}
	.register select {
		width: 335px;
		padding: 15px;
		background-color: #F3F3F3;
	}

   input[type="radio"] {
		display: none;
	}
	.sex {
		position: relative;
		z-index: 0;
	}
	.sex label {
		width: 100px;
		font-size: 14px;
		color: gray;
		background-color: #F3F3F3;
		display: inline-block;
		margin-bottom: 20px;
		padding: 10px;
		padding-left: 40px;
		padding-right: 20px;
		position: relative;
		border-radius: 3px;
		cursor: pointer;
	}
	.sex label:before {
		background:none;
		border: 3px solid #002A2A;
		content: "";
		display: inline-block;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		position: absolute;
		top: 8px;
		left: 12px;
	}
	.sex input[type="radio"]:checked + label:before{
		background-color: #002A2A;
	}
	.termycon {
		display: block;
		margin: -30px auto 10px;
		width: 300px;
		padding: 20px 0px;
		text-align: center;
	}
@media (max-width:430px) {
	.contenedorContact {
		background-color: white;
	}
	.register {
		margin-left: -20px;
		width: auto;
	}
}
@media (max-width:390px) {

	.contenedorContact  .register {
		padding: 20px;
	}
	.register input , .register p {
		width: 250px;
	}
	.register select , .register input[type="submit"]  {
		width: 280px;
	}
	.sex label {
		width: 80px;
	}
}
@media (max-width:380px) {
	.register input {
		width: 210px;
	}
	.register p {
		width: 240px;
	}
	.register select , .register input[type="submit"]  {
		width: 240px;
	}
	.sex label {
		width: 60px;
	}
}
/*=============================FOOTER============================*/
footer {
	background-color: #252525;
	color: white;
	padding: 30px;
	min-height: 500px;
}
	footer .contenido {
		float: left;
		max-width: 40%;
		padding: 20px 20px 20px 50px;
		text-align: center;
	}
		footer .contenido h3 {
			text-align: left;
			margin-top:80px;
			text-transform: uppercase;
			font-size: 250%;
		}
		footer .contenido p {
			text-align: justify;;
			margin-bottom: 50px;
		}
		footer .contenido a {
			color: white;
			cursor: pointer;
			border-radius: 3px;
			background-color: #006666;
			text-decoration: none;
			padding: 20px;
		}
	footer .social {
		height: 300px;
		padding: 30px;
	}
		footer .social h3 {
			margin-top: 80px;
			text-align: center;
		}
		footer .social a {
			display: block;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color:#006666 ;
		}
		footer .social p {
			text-align: center;
		}
@media (max-width:850px) {
	footer .contenido {
		float: none;
		max-width: 100%;
		padding: 20px;
	}
	footer .contenido h3 {
		font-size: 200%;
	}

}

.copyright {
	text-align: center;
	color: white;
	font-size: 80%;
	background-color: black;
	padding: 5px;
}
