/*==============================GENERAL====================================*/
body{
	margin:0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
/*=====scrollbarr=========*/
	::-webkit-scrollbar{
	  width: 12px;  /* for vertical scrollbars */
	  height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track{
	  background: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-thumb{
	  background: rgba(0, 0, 0, 0.5);
	}
/*=====scrollbarr=========*/
/*===============================Boton ir arriba===============================*/
.ir-arriba {
	display: none;
	position: absolute;
	bottom:100px;
	right:50%;
	cursor: pointer;
}
/*=================================NAV====================================*/

.home-nav {
	position: fixed;
	top: 0px;
	z-index: 1;
	padding-top:20px;
	height: 70px;
	font-size: 95%;
	background-color: white;
	width: 100%;
	text-align: right;
	transition: all 0.2s;
	box-shadow: 1px 1px 2px 1px #B3B3B3;
}
	.home-nav ul li input {
		display: none;
	}

	.home-nav ul {
		list-style-type: none;
	}
	.home-nav img {
		width: 40px;
		height: 40px;
		margin-top: -5px;
		display: none;
	}
	.home-nav .sinmenu {
		background-color: white;
		padding-right: 100px;
		transition: all 0.3s;
	}
		.home-nav .sinmenu li {
			height: 70px;
			padding-left: 0px;
			display: inline;
		}
		.home-nav .sinmenu li a {
      		color :#881E1E;
			display: inline;
			padding: 10px;
			text-decoration: none;
		}
	#login {
		background-color: #b72c2c;
		padding: 10px;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.4);
		transition: all 0.2s;
	}
	#login:active{
		top: 2px;
		left: 2px;
		box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.6);
	}
		#login a {
			color: white;

		}

	#login-form {
		z-index: 2;
		display: none;
		border-radius: 3px;
		padding-top: 10px;
		background-color: white;
		height: 400px;
		width: 500px;
		text-align: center;
		position: fixed;
		top: -450px;
		left: 50%;
		margin-left: -250px;
		transition: all 0.5s;

	}
	#login-form hr {
		color: white;
		width: 90%;
		margin-bottom: 10px;
	}
	#login-form .head {
		margin-top: -10px;
		margin-bottom: 20px;
		background-color: #b72c2c;
	}
	#login-form img {
		height: 50px;
		margin-bottom: 0px;
	}
	#login-form input {
		width: 80%;
		padding: 15px 0px;
		text-align:center;
		border-width: 1px;
		border-style: solid;
		border-color: #ACAAAA;
		border-radius: 3px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;

		background-color:#F3F3F3;
	}
	#login-form > span a {
		display: block;
		text-decoration: none;
		color: black;
		font-size: 0.8em;
		margin-top: 5px;
	}
	#login-form  button{
		margin-top: 10px;
		margin-bottom: 10px;
		border-width: 0px;
		border-radius: 3px;
		/*background-color: #b72c2c;C0392B
		color: white;*/
		background-color: #b72c2c;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 70%;
		padding: 10px 0px;
		width: 80%;
		cursor: pointer;
		box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.4);
		transition: all 0.2s;
		outline: none;
		position: relative;
	}
	#login-form button:active{
		top: 2px;
		left: 2px;
		box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.6);
	}
/*=================================LOGO====================================*/
		#logo {
			position: fixed;
			z-index: 2;
			top: 0px;
			left:100px;
			background-color: rgba(0, 0, 0, 0);
			height: 60px;
			width: 250px;
			padding-top: 20px;
			padding-left: 10px;
			border-radius: 3px;
			cursor: pointer;
		}
		#logo a  {
			z-index: 2;
			text-decoration: none;
		}
		#logo a img {
			height: 45px;
			transition: all 0.2s;
		}


@media (max-width:800px){
	#logo{
		left: 15px;
	}
	.sinmenu #login {
		background-color: #232626;
		padding: 5px;
		border-radius: 0px;
		box-shadow:  none;
	}
	.home-nav .sinmenu  {
		display: none;
		width: 210px;
		height: 100vh;
		text-align: left;
    		background-color: #232626;

		position: absolute;
		top: 80px;
		right: 0px;

	}
	.home-nav .sinmenu li {
		display: block;
	}
	.home-nav .sinmenu li a {
		padding: 20px;
		margin: 0px;
		display: block;
                color:white;
	}
	.home-nav .label img {
		position: absolute;
		top: 50px;
		right: 20px;
		margin-top: -30px;
		margin-bottom: 20px;
		display: block;
	}
}

@media (max-width:400px){
	#logo{
		padding: 0px;
		padding-top: 20px;
		width: 200px;
	}
	#logo a img{
		height: 35px;
	}
}
@media (max-width:355px){
	#nombre {
		width:165px;
	}
}
@media (max-width:320px){
	#nombre {
		height: 35px;
		width: 120px;
	}
}



/*==========================HEADER====================================*/
header {
	/* 	background-image: url("../Imagenes/pruebashadow.jpg");	*/
	background-image: url("../Imagenes/3.gif");
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: -1;

}
	header h2 {
		transition: all 0.2s;
		margin: 60px auto 30px auto;
		color: white;
		font-weight: bolder;
		font-size: 300%;
	}
	header p{
		text-align: center;
		transition: all 0.2s;
		display: block;
		margin: -20px auto 0 auto;
		color:  white;
		font-weight: bolder;
		font-size: 100%;
		width: 550px;
	}

/*================================MISION Y VISION===============================*/
/*instituciones*/
#institutions{
	min-height: 400px;
	padding-top: 80px;
}
#institutions #map{
	float: left;
	margin-left: 30px;
	padding: 20px;
	box-sizing: padding-box;
	width: 500px;
}
#institutions h2 {
	margin-top: 40px;
}
#institutions h2:nth-child(4){
	margin-top: 180px;
}
#institutions p{
	text-align: justify;
	color: #68686E;
	font-size: 110%;
	margin-bottom: 50px;
	padding: 20px;
}
#institutions ul {
	padding: 0px;
	margin: 0px;
	margin-bottom: 40px;
	list-style-type: none;

}
#institutions li {
	display: inline-block;
}
#institutions li img {
	width: 180px;
	margin: 20px;
}


.contenedorM {
	background-color: white;
	min-height: 500px;
	padding: 30px;
	margin-top: 95vh;
	text-align: center;
}
	.contenedorM h2{
		color: #881E1E;
		font-size: 180%;
		margin: 70px 0px 20px;
	}
			.contenedorM .columnas  .col {
				cursor: pointer;
				border-radius: 5px;
				position: relative;
				display: inline-block;
				height: 300px;
				width: 280px;
				margin: 30px 25px;
			}
			.contenedorM .columnas  .col h2 {
				margin-top: 20px;
			}
			.contenedorM .columnas  .col p {
				padding: 0px 10px;
				color: #68686E;
				display: block;
				height: 100px;
				text-align: justify;
				font-size: 110%;
			}
			.contenedorM .columnas  .col img {
				height: 140px;
				width: 140px;
			}

}



.contenedorFormularios .opciones ul {
	/*afecta register_user.php*/
}

.contact-box {
	display: none;
	z-index: 3;
	background-color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 260%;
	width: 100%;
}
	.contact-form {
		display: none;
		border-radius: 3px;
		padding: 20px 0px;
		background-color: #E74C3C;
		background-color: white;
		width: 50%;
		height: 400px;
		position: fixed;
		top: 90vh;
		left: 50%;
		margin-left: -25%;
		transition: all 0.5s;
	}
	.contact-form h2{
		text-transform: uppercase;
		color: white;
		width: 100%;
		font-weight: normal;
		padding: 13px 0px;
		margin-top: -20px;
		text-align: center;
		background-color: #b72c2c;
	}
	.contact-form label {

		margin-left: 9%;
		font-size: 80%;
		display: block;
		margin-bottom: -4px;
		margin-top: 10px;
	}
	.contact-form input , textarea {
		background-color: #F3F3F3;
		border-width: 1px;
		border-style: solid;
		border-color: #B4B4B4;
		border-radius: 3px;
		margin: 5px auto;
		padding: 3px;
		width: 80%;
		display: block;
	}
	.contact-form textarea {
		max-width: 80%;
		height: 70px;
		max-height: 120px;
		margin-bottom: 15px;
	}
	.contact-form input[type="submit"],.contact-form input[type="button"] {
		cursor: pointer;
		margin-top: 10px;
		color: white;
		padding: 10px;
		background-color: #b72c2c;
		width: 82%;
		border: 0px;
		box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.4);
		transition: all 0.4s;
		outline: none;
		position: relative;
		text-transform: uppercase;
		font-size: 70%;
		font-weight: bold;
	}
	.contact-form input[type="submit"]:active, .contact-form input[type="button"]:active{
		top: 2px;
		left: 2px;
		box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.6);
	}
	.email_send{
		display: none;
		color: white;
		text-align: center;
		background-color: #b72c2c;
		padding: 10px;
		border-radius: 5px;
		width: 150px;
		position: fixed;
		top: 85%;
		left: 50%;
		margin-left: -75px;
		cursor: pointer;
	}


/*=============================LOGIN - INICIAR SESION============================*/
.contenedorContact {
	display: block;
	height: 100vh;
	background-color: #921E1E;
	color: white;
	padding: 40px 10px 10px 10px;
	text-align: center;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.registerPage{
	background-color: white;
}



.contenedorContact .container .login {
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
.contenedorContact .container .login a {
	text-decoration: none;
}

	.contenedorContact .container .login input {
		border-width: 0px;
		background-color:#F3F3F3;
		width: 310px;
		margin-bottom: 20px;
		padding: 15px;

	}
	.contenedorContact .loginImg{
		width: 275px;
	}
	.contenedorContact .container .login .botonLogin {
		border-radius: 3px;
		color: white;
		font-size: 80%;
		background-color: #921E1E;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 97%;
		cursor: pointer;
		position: relative;
		box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.4);
		transition: all 0.2s;
		text-transform: uppercase;
	}
		.contenedorContact .container .login .botonLogin:active{
			top: 2px;
			left: 2px;
			box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.6);
		}

	.contenedorContact .error {
		margin-top: -5px;
		margin-bottom: 10px;
		display: block;
		font-size: 80%;
		font-weight: bolder;
		color: #921E1E;
	}
	.container .login .title {
		margin-top: 10px;
		margin-bottom: 15px;
		display: block;
		font-size: 90%;
		color: grey;
	}
	@media (max-width:400px) {
			.contenedorContact .container .login {
				padding: 0px;
				width: 100%;
			}.contenedorContact .container .login input {
				display: block;
				width: 90%;
			}
	}
/*=============================REGISTER -REGISTRO USUARIO============================*/
#message{
	font: 90%;
	display: block;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 10px;
}
.g-recaptcha{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;

}
.account-login ul {
	margin-top: 60px;
	height: 50px;
	list-style-type: none;
	padding: 10px 50px 0px 0px;
	text-align: right;
	background-color: #F2F2F2;
	cursor: default;
}
.account-login ul li {
	display: inline-block;
}
.account-login ul li:nth-child(2) {
	margin-left: 20px;
}
.account-login a {
	color: white;
	text-decoration: none;
}
.simple-nav {
	position: absolute;
	top: 0px;
	display: block;
	width: 100%;
	background-color: #921E1E;
	z-index: 0;
	padding-top: 0px;
	height: 60px;
	box-shadow: 0px 0px 0px;
}
.simple-nav ul {
	padding: 0px;
}
.simple-nav img {
	display: block;
	margin: -35px auto 10px auto;
	height: 60px;
}
.contenedorContact .register {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: black;
	margin-top: -40px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.register p {
	margin-left: auto;
	margin-right: auto;
	font-size: 110%;
	width: 330px;
}

.register input, select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-width: 0px;
	background-color:#F3F3F3;
}
	.register input {
		width: 300px;
		padding: 15px;
	}
	.register input[type="submit"]{
		width: 330px;
		color: white;
		border-radius: 3px;
		background-color: #921E1E;
	}
		.register input[type="submit"]:hover{
			width: 330px;
			cursor: pointer;
		}
	.register select {
		width: 335px;
		padding: 15px;
		background-color: #F3F3F3;
	}

   input[type="radio"] {
		display: none;
	}
	.sex {
		position: relative;
		z-index: 0;
	}
	.sex label {
		width: 100px;
		font-size: 14px;
		color: gray;
		background-color: #F3F3F3;
		display: inline-block;
		margin-bottom: 20px;
		padding: 10px;
		padding-left: 40px;
		padding-right: 20px;
		position: relative;
		border-radius: 3px;
		cursor: pointer;
	}
	.sex label:before {
		background:none;
		border: 3px solid #002A2A;
		content: "";
		display: inline-block;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		position: absolute;
		top: 8px;
		left: 12px;
	}
	.sex input[type="radio"]:checked + label:before{
		background-color: #002A2A;
	}
	.termycon {
		font-size: 90%;
		display: block;
		margin: -10px auto 10px;
		width: 300px;
		padding: 20px 10px;
		text-align: center;
	}
@media (max-width:320px) {
	.termycon {
		width: auto;
	}
}

@media (max-width:630px) {
	header h2 {
		width: 90%;
		margin: 60px auto 30px auto;
		color: white;
		font-weight: bolder;
		font-size: 200%;
		text-align: center;
	}
	header p{
		display: block;
		margin: -20px auto 0 auto;
		color:  white;
		font-weight: bolder;
		font-size: 110%;
		width: 70%;
		padding: 0px;
	}
	.contact-form {
		width: 100%;
		padding-bottom: 20px;
	}
}
@media (max-width:430px) {
	.contenedorContact {
		background-color: white;
	}
	.register {
		margin-left: -20px;
		width: auto;
	}
	.contenedorM{
		padding: 0px;
		padding-top: 10px;
	}
	.contenedorM .columnas  .col {
		margin: 30px 0px;
	}
	.contenedorM h2  {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width:390px) {

	.contenedorContact  .register {
		padding: 0px;
	}
	.register p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 90%;
		font-size: 95%;
	}
	.register input{
		width: 250px;
	}
	.register select , .register input[type="submit"]  {
		width: 280px;
	}
	.sex label {
		width: 80px;
	}
}
/*=============================FOOTER============================*/
footer {
	background-color: #252525;
	color: white;
	padding: 30px;
	min-height: 500px;
}
	footer .contenido {
		float: left;
		max-width: 40%;
		padding: 20px 20px 20px 50px;
		text-align: center;
	}
		footer .contenido h3 {
			text-align: left;
			margin-top:80px;
			text-transform: uppercase;
			font-size: 250%;
		}
		footer .contenido p {
			text-align: justify;;
			margin-bottom: 50px;
		}
		footer .contenido a {
			color: white;
			cursor: pointer;
			border-radius: 3px;
			background-color: #B72C2C;
			text-decoration: none;
			padding: 20px;
			box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.4);
			transition: all 0.4s;
			outline: none;
			position: relative;
		}
			footer .contenido a:active{
				top: 2px;
				left: 2px;
				box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.6);
			}
	footer .social {
		height: 300px;
		padding: 30px;
	}
		footer .social h3 {
			margin-top: 80px;
			text-align: center;
		}
		footer .social a {
			display: block;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color:#006666 ;
		}
		footer .social p {
			text-align: center;
		}
@media (max-width:850px) {
	footer .contenido {
		float: none;
		max-width: 100%;
		padding: 20px;
	}
	footer .contenido h3 {
		font-size: 200%;
	}

}
.copyright {
	text-align: center;
	color: white;
	font-size: 80%;
	background-color: black;
	padding: 5px;
}
