/*General style*/
body{
	background-color: #E6ECF0;
	margin: 0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
/*=====scrollbarr=========*/
	::-webkit-scrollbar{
	  width: 8px;  /* for vertical scrollbars */
	  height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track{
	  background: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-thumb{
	  background: rgba(0, 0, 0, 0.5);
	}
/*=====scrollbarr=========*/
/*============================================sesionopen=======================================================*/

#nav_feed{
	display: none;
	background-color: #161717;
	width: 100%;
	height: 60px;
	z-index: 3;
	position: fixed;
	top: 0px;
	border-width: 0px;
}
#nav_feed ul {
	margin-top: 0px;
	list-style-type: none;
	padding: 0px;
	text-align: center;
}
#nav_feed ul li{
	display: inline-block;
}
#nav_feed ul li a {
	text-decoration: none;
}
#nav_feed ul li a img {
	height: 35px;
	padding-top: 10px;
}
#bmenuw {
	display: block;
	height: 35px;
	width: 35px;
	position: fixed;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
.sesion_container{
	margin-top: 10px;
	display: flex;
	min-height: 100vh;
	justify-content: center;
}
.sesion_container_1{
	width: 20%;
	justify-content: center;
}
.sesion_container_2{
	justify-content: center;
	padding: 0px 30px;
	width: 60%;
}
.sesion_container_3{
	padding-right: 10px;
	justify-content: center;
	width: 20%;
	box-sizing: auto;
}
.options {
		width: 100%;
		min-height: 110vh;
		display: inline-block;
		margin: 0px;
		margin-top: -10px;
		background-color: #161717;
		color: white;
		text-align: center;
		z-index: 2;
	}
	.options .editar {
		font-size: 80%;
		display: block;
		text-decoration: none;
		color: #009999;
		margin-top: -10px;
	}
		.options .editar:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	.options img {
		height: 120px;
		border-radius: 50%;
		display: block;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	#usr_img{
		display: none;
		margin-bottom: 20px;
	}
	img.put_image_profile{
		width: 120px;
	}
	.options #logo-nav {
		border-radius: 0px;
		height: 30px;
		margin: 30px auto 0px auto;
	}
	.options .nombre {
		display: block;
		margin: 15px 10px 5px 5px;
	}

	.lista {
		display: block;
		margin-top: 20px;
		list-style-type: none;
		text-align: left;
	}
	.lista li span {
		margin-right: 5px;
		float: right;
	}
	.lista #score_usr{
		float: none;
	}
		.lista li {
			padding: 10px;
			margin-left: -40px;
			cursor: pointer;
		}
			.lista li:hover {
				background-color: #0A0B0B;
			}

		.lista li .icono {
			display: inline;
			margin-right: 15px;
			margin-top: -20px;
			border-radius: 0px;
			height: 15px;
		}
		.lista a {
			text-decoration: none;
			color: white;
		}

		#score_li{
			text-align: center;
			margin-left: -40px;
			color: white;
			margin-bottom: 20px;
			background-color: #0F1010;
		}
		#score_li .icono {
			display: inline;
			margin: auto;
			border-radius: 0px;
			height: 15px;
		}

.find {
	display: block;
	background-color: #F5F8FA;
	height: 70px;
	position: relative;
	padding-left: 30px;
	border-width: 0px;
}

	.search {
		background-color: rgba(255, 255, 255, 0);
		display: block;
		width: 100%;
		padding:0px;
		height: 100%;
		margin: 0px -10px;
		margin-left: 0px;
		border-width:0px;
		font-size: 95%;
		color: rgba(0, 0, 0, 0.7);
		outline: 0;
	}
		.find img {
			position: absolute;
			right: 10px;
			top:15px;
			background-color: rgba(255, 255, 255, 0);
			height: 35px;
			width: 35px;
			cursor: pointer;
		}

	#btn-add, #btn-see {
		box-sizing: border-box;
		position: fixed;
		bottom: 50px;
		right: 50px;
		font-size: 150%;
		width: 55px;
		height: 55px;
		padding: 5px;
		color: white;
		background-color: #009999;
		border-radius: 50%;
		border-width: 0px;
		outline: 0;
		cursor: pointer;
		transition: all 0.2s;
		z-index: 1;
	}
	#btn-add:active, #btn-see:active{
		bottom: 48px;
		right: 48px;
		box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.4);
	}
		#btn-add:hover {
			background-color: #006E6E;
		}
	#btn-see[data]:hover:after, #btn-add[data]:hover:after {
	  content: attr(data);
	  padding: 6px;
	  color: white;
	  font-size: 50%;
	  position: absolute;
	  left: -50px;
	  bottom: 100%;
	  white-space: nowrap;
	  border-radius: 2px;
	  background: rgba(0,0,0,0.6);
	}

#new-updates {
	display: none;
	}
#new-updates span{
	text-align: center;
	padding: 10px 10px;
	font-size: 90%;
	display: block;
	cursor: pointer;
	width: auto;
	margin-top: 5px;
	background-color: #F6F6F6;
}
.no-results{
	text-align: center;
	display: block;
	font-size: 90%;
	margin-top: -15px;
	padding: 30px 10px;
	background-color: white;
	border: 1px solid #E2E2E2;
}
.result-txt{
	display: block;
	width: 100%;
	color: #007272;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 90%;
}


.spinner {
	width: 100px;
	height: 100px;
	background-color: #E6ECF0;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 100px auto;
}
	.spinner:after, .spinner:before {
	  content: "";
	  display: block;
	  width: 100px;
	  height: 100px;
	  border-radius: 50%;
	}

	.spinner-1:after {
	  position: absolute;
	  top: -4px;
	  left: -4px;
	  border: 4px solid transparent;
	  border-top-color: #009999;
	  border-bottom-color: #009999;
	  -webkit-animation: spinny 1s linear infinite;
	          animation: spinny 1s linear infinite;
	}

	@-webkit-keyframes spinny {
	  0% {
	    -webkit-transform: rotate(0deg) scale(1);
	            transform: rotate(0deg) scale(1);
	  }
	  50% {
	    -webkit-transform: rotate(45deg) scale(1.2);
	            transform: rotate(45deg) scale(1.2);
	  }
	  100% {
	    -webkit-transform: rotate(360deg) scale(1);
	            transform: rotate(360deg) scale(1);
	  }
	}

	@keyframes spinny {
	  0% {
	    -webkit-transform: rotate(0deg) scale(1);
	            transform: rotate(0deg) scale(1);
	  }
	  50% {
	    -webkit-transform: rotate(45deg) scale(1.2);
	            transform: rotate(45deg) scale(1.2);
	  }
	  100% {
	    -webkit-transform: rotate(360deg) scale(1);
	            transform: rotate(360deg) scale(1);
	  }
	}

	.options .spinner {
		width: 50px;
		height: 50px;
		margin: 50px auto;
		background-color: #161717;
	}
		.options .spinner:after, .options .spinner:before {
			width: 50px;
			height: 50px;
		}


#search_options{
	box-sizing: border-box;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	background-color: white;
	color: gray;
	font-size: 85%;
	display: flex;
}
	#search_options p{
		margin: 0px;
		text-align: center;
		width: 60%;
		padding: 2px 0px;
	}
	#search_options input[type="radio"]{
		display: none;
	}
	#search_options label {
		width: 20%;
		text-align: center;
		padding: 2px 0px;
		cursor: pointer;
	}

	#search_options  input[type="radio"]:checked + label{
		background-color: #DDDDDD;
	}

.publicaciones{
	padding: 0px;
	display: flex;
	background: white;
	min-height: 150px;
	font-size: 90%;
	position: relative;
	transition: all 0.35s;
	border: 0px solid #D0D0D0;
	border-bottom-width: 1px;
}

.cont1{
	display: flex;
	justify-content:center;
	width: 15%;
}
.cont3{
	text-align: center;
	width: 15%;
}
.cont2{
	width: 70%;
}

	.publicaciones a {
		text-decoration: none;
		color: black;
	}
	.publicaciones img  {
		display: inline-block;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin-top: 30px;
		cursor: pointer;
	}

	.publicaciones .ini-desti {
		padding: 3px 0px;
		display:block;
	}
	.publicaciones .ini, .publicaciones .desti {
		display: inline-block;
		color: #007272;
		width: 50px;
	}
	.publicaciones .name {
		font-size: 90%;
		font-weight: bold;
		display: block;
		padding: 20px 0px 7px;
	}
	.publicaciones .time {
		display: block;
	}
	.publicaciones .comentario{
		display: block;
		word-break: break-all;
		padding: 3px 0px;
	}
	.publicaciones .cupo {
		width: 70px;
		margin: 30px auto 0px;
		height: 70px;
		border-radius: 50%;
		border-width: 0px;
		color: gray;
		background-color: #F1F1F1;
		cursor: pointer;
	}
		.publicaciones .cont3 span{
			display: block;
			color: white;
			margin-top: 5px;
			font-size: 90%;
		}


	.btn-pedirCupo, .btn-eliminar {
		display: none;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		cursor: pointer;
		color: white;
		background-color: #C74444;
		border-width: 0px;
		position: absolute;
		top: 20%;
		right: 30%;
		font-size: 80%;
	}
	.btn-pedirCupo:hover, .btn-eliminar:hover {
		background-color: #AC2C2C;
	}
	.btn-pedirCupo > img, .btn-eliminar > img {
		width: 25px;
		height: 25px;
		margin-top: -2px;
	}
	.btn-pedirCupo:after, .btn-eliminar:after {
		content: "Chat";
		color: white;
		position: absolute;
		left: 20px;
		top: 75px;
		white-space: nowrap;
		border-radius: 2px;
	}
	.btn-pedirCupo:after {
		content: "Pedir cupo";
		left: 3px;
	}

	.ruta{
		text-align: center;
		height: 70px;
		width: 70px;
		border-radius: 50%;
		line-height: 65px;
		background-color: #009999;
		color: white;
		cursor: pointer;
		position: absolute;
		top: 20%;
		left: 30%;
		display: none;
	}
	.ruta:hover{
		background-color: #007C7C;
	}
	.ruta img{
		width: 25px;
		height: 25px;
		border-radius: 0px;
		margin-left: 3px;
		margin-top:20px;
	}
	.ruta:after{
		font-size: 95%;
		line-height: 15px;
		content:"Ver mapa";
		color: white;
		position: absolute;
		left: 12px;
		top: 75px;
		white-space: nowrap;
		border-radius: 2px;
	}
.ads {
	padding: 40px;
	display: inline-block;
	background-color: white;
	box-sizing: border-box;
	width: 100%;
	height: 60vh;
	cursor: pointer;
}
.ads img {
	width: 100%;
	border-radius: 5px;
}

.news {
	text-align: center;
	padding: 40px 10px 0px;
	box-sizing: border-box;
	background: white;
	margin-top: 10px;
	height: 200px;
}
	.news .copy {
		font-size: 95%;
	}
	.news a {
		font-size: 90%;
		text-decoration: none;
		color: darkgrey;
	}
		.news a:hover {
			text-decoration: underline;
		}
#addRouteBox {
	display: none;
	background-color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 260%;
	width: 100%;
	z-index: 3;
}


#addRoute {
	display: none;
	margin-left: auto;
	margin-right: auto;
     margin-top:50px;
	padding: 0px;
	padding-bottom: 10px;
	background: rgba(255, 0, 0, 1);
	background-color: white;
	border-radius: 3px;
	width: 50%;
	min-height: 300px;
	position: relative;
}
#addRoute p {
	background-color: #002A2A;
	color: white;
	padding: 15px 5px;
	text-align: center;
}
#addRoute input {
	text-align: center;
	display: block;
	outline: none;
	padding: 10px 0px;
	width: 90%;
	margin: 0px auto;
	border: 1px solid #E5E5E5;
	transition: all 0.2s;
	cursor: pointer;
}
#addRoute > select {
	text-align-last: center;
	display: block;
	width: 90%;
	padding: 5px 0px;
	border-width: 0px;
	margin: 0px auto;
}

#addRoute button {
	margin: 0px auto;
	width: 90%;
	color: white;
	padding: 15px 0px;
	display: block;
	background-color: #002A2A;
	border-width: 0px;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
}

#addRoute #closeAddRoute {
	background-color: #861212;
	font-weight: bold;
	width: 49px;
	height: 49px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/*Checked para sesionopen (formulario de crear un recorrido)*/
#addRoute input[type="radio"] {
	display: none;
}
#addRoute a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#addRoute .rutaXBox{
	display: flex;
	margin: 5px auto;
	height: 30px;
	width: 90%;
}
#addRoute .rutaXBox select{
	margin: 0px;
	padding: 0px;
	position: static;
	height: 30px;
	border-width: 0px;
	width: 100%;
}
#addRoute label {
	background-color: #E3E3E3;
	display: inline-block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: relative;
	transition: all .2s
}
 #addRoute label:before {
	background:#002A2A;
	border: 3px solid #002A2A;
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 9px;
	left: 9px;
	transition: all .2s;
}
#addRoute  input[type="radio"]:checked + label:before{
	background-color: #002A2A;
	width: 23px;
	height: 24px;
	top: 0;
	left: 0;
}
#addRoute .finish_start{
	min-height: 51px;
	display: block;
	margin: 5px auto;
	width: 90%;
	padding: 0px;
}
.finish_start span {
	background-color: white;
	display: block;
	padding: 3px;
	font-size: 80%;
	margin-bottom: 5px;
}

	#addRoute #start_l:before , #addRoute #finish_l:before  {
		content: "Termina";
		background-color: #C1C1C1;
		border: none;
		display: inline-block;
		width: 1px;
		height: 1px;
		position: absolute;
		top: 5px;
		left: 45px;
		transition: all .2s;
	}

	#addRoute #start_l:before{
		content:"Comienza";
		left: 30px;
	}
	#addRoute #start_l , #addRoute #finish_l  {
		width: 50%;
		margin-top: -5px;
		float: right;
		font-size: 80%;
	}
	#addRoute  #start:checked + label, #addRoute  #finish:checked + label, #addRoute  #start:checked + label:before, #addRoute  #finish:checked + label:before{
		background-color: #002A2A;
		color: white;
	}
	#addRoute  .commentTitle {
		font-size: 75%;
		display: block;
		width: 90%;
		margin: 5px auto;
		padding: 0px 0px;
	}
	#addRoute textarea {
		display: block;
		border: none;
		background-color: #E3E3E3;
		margin: 0px auto;
		resize: vertical;
		min-height: 80px;
		width: 90%;
		margin-bottom: 10px;
	}



.modal-box {
		display: none;
		background: rgba(0, 0, 0, 0.4);
		position: fixed;
		left: 0;
		top: 0;
		height: 260%;
		width: 100%;
		z-index: 3;
}
.modal-window {
	display: none;
	margin: 30px auto 0px ;
	height: 575px;
	width: 768px;
	background-color: white;
	border-radius: 0px;
	overflow: auto;
	position: relative;
}
	#back{
		cursor: pointer;
		display: block;
		padding: 5px;
		height: 25px;
		width: 25px;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.modal-window .wrap1{
		min-height: 290px;
	}
	.modal-window  .verif_wrap{
		height: 160px;
		width: 100%;
	}
	.modal-window .wrap1 img{
		width: 220px;
		height: 220px;
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -110px;
		border-radius: 50%;
	}

	.modal-window .info-usr {
		background-color: #F5F5F5;
		display: block;
		min-height: 300px;
		width: 100%;
	}
		.info-usr ul {
			background-color: #F5F5F5;
			padding: 0px;
			margin: 0px;
			height: 40px;
			width: 100%;
			list-style-type: none;
			text-align: center;
		}
		.info-usr ul li {
			cursor: pointer;
			padding: 0px;
			margin: 0px;
			margin-top: -5px;
			width: 100px;
			height: 25px;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			font-size: 80%;
		}
		.info-usr .li_underline {
			position: relative;
			display: inline-block;
			top:30px;
			height: 2px;
			width: 100%;
			background-color: gray;
		}

	/*data_info*/
	.encb2{
		background-color: white;
		min-height: 400px;
		padding-top: 30px;
	}
		.user_score{
			background-color: #F5F5F5;
			padding: 10px;
			display: block;
			display: flex;
		}
		 .user_score > img{
			display: inline-block;
			height: 25px;
			width: 25px;
			margin: 0px;
			margin-left: 3px;
			padding: 0px;
		}
		.user_score > span{
			width: 50%;
			text-align: right;
			font-size: 130%;
			line-height: 28px;
		}

	 .encb2 .block {
		box-sizing: border-box;
		display: inline-block;
		display: flex;
		padding: 10px 0px;
	}
	.encb2 .block:hover {
		background-color: #F5F5F5;
	}
		.modal-window .encb2 label {
			text-align: right;
			width: 45%;
			font-size: 80%;
		}
		.modal-window .encb2 span{
			box-sizing: border-box;
			padding-left: 30px;
			font-size: 90%;
		}



		.transport_info{
			display: none;
		}
			.transport_info .tr-box{
				min-height: 80px;
				display: flex;
				background-color: white;
			}
			.transport_info .tr-box:hover{
				background-color: #F5F5F5;
			}
			.transport_info .tr-box label{
				text-align: right;
				line-height: 80px;;
				width: 45%;
				font-size: 80%;
			}
			.transport_info .tr-box span{
				box-sizing: border-box;
				padding-left: 30px;
				line-height: 80px;
			}
			.transport_info .tr-box .img-box img{
				display: block;
			}
			.transport_info .tr-box img{
				display: block;
				margin: 10px auto;
				border-radius: 5px;
				width: 80%;
				height: auto;
			}
		.routes_info{
			display: none;
		}
			.routes_info .rts-box {
				border: 1px solid #D0D0D0;
				display: block;
				margin: 5px auto 10px;
				width: 70%;
				background-color: white;
			}
			.routes_info .rts-box span {
				text-align: center;
				display: block;
				padding: 10px;
				font-size: 80%;
			}
			.routes_info .rts-box span:first-child {
				background-color: #EBEBEB;
			}
			.routes_info .rts-box span:hover {
				cursor: pointer;

			}

		.comments_info{
			display: none;
		}
		#del-cm-btn{
			border-width: 0px;
			background-color: #C74444;
			padding: 5px 0px;
			color: white;
			border-radius: 3px;
			font-size: 70%;
			cursor: pointer;
			display: block;
			margin: 20px auto 5px;
			width: 95%;
			transition: all 0.2s;
			outline: none;
			position: relative;
			box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
		}
		#del-cm-btn:active{
			top: 1px;
			left: 1px;
		}
		.comments_info .comm_fail{
			display: none;
			background-color: #C74444;
			color:white;
			margin: 5px;
			padding: 5px;
			border: 1px solid #E2E2E2;
			text-align: center;
			font-size: 80%;
			height: 20px;
		}
			#no_cm{
				line-height: 70px;
			}
			.comments_info .cm-box, .comments_info .add_comment{
				background-color: white;
				margin: 5px;
				padding: 5px;
				border: 1px solid #E2E2E2;
				min-height: 60px;
			}
			.comments_info .add_comment{
				font-family: 'Fira Sans Extra Condensed', sans-serif;
				text-align: center;
			}
			.comments_info .add_comment .score-box{
				display: none;
				background-color: blue;
				width: 95%;
				margin: 0px auto 30px;
				padding: 0px;
			}
			.comments_info .add_comment label{
				background-color: #F5F5F5;
				margin: 0px;
				padding: 5px 0px;
				float: left;
				font-size: 80%;
				width: 20%;
				cursor: pointer;
				transition: all 0.3s;
			}
			.comments_info .add_comment label:hover{
				background-color: #E3E3E3;
			}
			.comments_info .add_comment input[type="radio"]{
				display: none;
			}
			.comments_info .add_comment button{
				display: none;
				margin: 0px auto;
				width: 95%;
				cursor: pointer;
				background-color: #009999;
				color: white;
				border-width: 0px;
				padding: 5px;
				border-radius: 3px;
			}
			.comments_info .add_comment textarea{
				outline: none;
				font-size: 85%;
				display: block;
				width: 95%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10px;
				border-width: 0px;
				resize: none;
				height: 50px;
			}
			.comments_info .cm-box{
				min-height: 70px;
			}
			.comments_info .cm-box img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				float: left;
				margin: 10px;
			}
			.comments_info .cm-box label {
				display: block;
				font-size: 90%;
				padding-top: 5px;
			}
			.comments_info .cm-box label span{
				text-align: center;
				padding: 2px;
				display: inline-block;
				background-color: #009999;
				color: white;
				height: 15px;
				width: 30px;
				font-size: 80%;
				border-radius: 3px;
			}
			.comments_info .cm-box >span {
				font-size: 85%;
				color: #606060;
			}
			.comments_info .cm-box p {
				padding: 0px;
				margin: 0px;
				text-align: center;
				background: lightblue
			}

		.error_way{
			display: none;
			text-align: center;
			margin: 150px auto auto auto;
			background-color: white;
			padding-bottom: 5px;
			width: 300px;
			box-sizing: border-box;
		}
		.error_way p{
			text-align: center;
			padding: 10px 0px;
			color: white;
			background-color: #002A2A;
		}
		.error_way span{
			box-sizing: border-box;
			padding: 30px 10px 40px;
			text-align: justify;
			display: block;
		}
		.error_way button{
			display: block;
			background-color: #002A2A;
			color: white;
			border-width: 0px;
			padding: 5px;
			margin: 5px auto;
			width: 95%;
			box-sizing: border-box;
			cursor: pointer;
		}
#back2{
	cursor: pointer;
	display: block;
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
}
#modal-window-route{
	display: none;
	background-color: white;
	width: 750px;
	height: 90vh;
	padding: 5px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
#modal-window-route .cont-stops{
	cursor: default;
}
#modal-window-route .cont-stops span{
	font-size: 90%;
	display: block;
	margin: 3px 0px;
	padding: 5px 3px 5px 20px;
	transition: all 0.2s;
}
#modal-window-route .cont-stops p{
	background-color: red;
	color: white;
	font-size: 90%;
	text-align: center;
	background-color: #C74444;
	margin: 0px;
	padding: 3px 0px;
}
#modal-window-route .cont-stops span:hover{
	background-color: #F7F7F7;
}
#map{
	background-color: lightgray;
	height: 80vh;
}


@media (max-width: 1000px) {
	/*sesionOpen*/
	.sesion_container_3{
		display: none;
	}
	.sesion_container_1{
		width: 30%;
	}
	.sesion_container_2{
		width: 70%;
	}
}
@media (max-width: 800px) {
	#logo-nav{
		display: none;
	}
	.options{
		margin-top: 60px;
	}
	#modal-window-route{
		width: auto;
		height: 100vh;
		margin: 0px auto;
	}
	.sesion_container_1{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 300px;
		z-index: 2;
	}
	.sesion_container_2{
		width: 100%;
		padding: 0px 5px;
	}
	/*desaparece panel izquierdo y aparece en la barra .navFeed*/
	.modal-window{
		margin-top: 0px;
		height: 100vh;
		width: 100%;
	}
	.modal-window .info-usr{
		margin-top: 0px;
	}
	#nav_feed{
		display: block;
	}
	.find {
		margin-top: 60px;
	}
	#back{
		position: absolute;
		top: 7px;
		left: 7px;
	}
}
@media (max-width:768px) {
	.modal-window {
		width: 100%;
		margin-top: 0px;
	}
}
@media (max-width:600px) {
	/*sesionOpen*/
	.sesion_container_2{
		padding: 0px;
	}
	.sesion_container_1{
		width: 100%;
	}


}

@media (max-width:550px) {
	/*sesionOpen*/
	.btn-pedirCupo, .btn-eliminar {
		height: 55px;
		width: 55px;
	}
	.btn-eliminar:after{
		font-size: 90%;
		top: 60px;
		left: 15px;
	}
	.btn-pedirCupo:after{
		font-size: 90%;
		top: 60px;
		left: -2px;
	 }
	.ruta {
		height: 55px;
		width: 55px;
	}
	.publicaciones .cupo {
		height: 55px;
		width: 55px;
	}
	.ruta img{
		margin-top:15px;
	}
	.ruta:after  {
		font-size: 85%;
		top: 60px;
		left: 5px;
	}
	.publicaciones .cont1 img{
		margin-top: 30px;
		height: 55px;
		width: 55px;
	}

}

@media (max-width:500px) {
	/*sesionOpen*/
	.encb2 .block label{
		width: 25%;
	}
	.encb2 .block span{
		width: 75%;
	}
	.info-usr ul {
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
	}
	.info-usr ul li {
		box-sizing: border-box;
		width: 80px;
		font-size: 70%;
	}

}
@media (max-width:425px) {
	/*sesionOpen*/
	.cont1, .cont3{
		width: 60px;
		padding: 0px 3px;
	}
	.publicaciones{
		font-size: 80%;
	}
	.cont2{
		padding: 0px 10px;
		box-sizing: border-box;
	}
	.info-usr ul li {
		box-sizing: border-box;
		width: 70px;
		font-size: 70%;
	}


	.modal-window .wrap1{
		min-height: 230px;
	}
	.modal-window  .verif_wrap{
		height: 130px;
		width: 100%;
	}
	.modal-window .wrap1 img{
		width: 160px;
		height: 160px;
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -80px;
		border-radius: 50%;
	}

}

/*============================================userProfile===================================================*/
.navProfile {
	width: 100%;
	position: absolute;
	z-index: 2;
}
.navProfile #bmenu {
	display: none;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
}
.navProfile ul {
	margin: 0px;
	margin-left: 270px;
	background-color: white;
	padding: 0px;
	padding-top: 27px;
	list-style-type: none;
	height: 44px;
}
	.navProfile ul li {
		display: inline;
	}
	.navProfile ul li a {
		text-decoration: none;
		color: black;
	}
	.navProfile ul li span {
		display: inline;
		font-size: 110%;
	}
	.navProfile ul li:nth-child(1){
		margin-left: 25px;
	}

.big_container{
	margin: 0px;
	padding: 40px 20px 0px 300px;
}
.big_container > div {
	display: none;
}
.big_container #basicInfo{
	display: block;
}
.left-section {
	position: fixed;
	background-color: #161717;
	width: 275px;
	z-index: 3;
	height: 100vh;
}
.generalInfo {
	padding-top: 70px;
	height: 50%;
}
	#little_img  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		border-radius: 90px;
		padding: 2px;
		background-color: grey;
		cursor: pointer;
	}

	#profile_Image {
		max-height: 530px;
		max-width: 500px;
		background-color: white;
		display: none;
		text-align: center;
		border-radius: 5px;
		margin: 80px auto 0px;
		z-index: 2;
	}
		#profile_Image p{
			color: white;
			font-size: 90%;
			background-color: #002A2A;
			padding: 10px 0px;
		}
		#big_image {
			border-radius: 50%;
			display: block;
			margin: 30px auto 0px;
			height: 300px;
			width: 300px;
		}
		#profile_Image .inputs_pf_image{
			margin-top: 30px;
			background-color: blue;
			display: flex;
		}
		#profile_Image input[type="file"]{
			display: none;
		}
		#profile_Image label {
			color: white;
			background-color: #E4E4E4;
			cursor: pointer;
			font-size: 90%;
			border-width: 0px;
			width: 100%;
			overflow: hidden;
		}
		#profile_Image button {
			display: none;
			padding: 5px 0px;
			width: 100px;
			background-color: #002A2A;
			color: white;
			cursor: pointer;
			font-size: 80%;
			border-width: 0px;
			margin: 0 auto;
		}

	.generalInfo .options-left-section ul {
		list-style-type: none;
		padding: 0px;
		margin-top: 50px;
		font-size: 90%;
	}
	.generalInfo .options-left-section ul a {
		text-decoration: none;
		color: white;
	}
		.generalInfo .options-left-section ul li {
			padding-top: 15px;
			padding-left: 30px;
			height: 30px;
		}
		.generalInfo .options-left-section ul li:hover {
			background-color: #0A0B0B;
		}

	/*modal addstop add stop*/
	#modal_add_stop{
		display: none;
		background-color: white;
		max-width: 800px;
		height: 95vh;
		box-sizing: border-box;
		padding: 0px 15px 15px;
		margin: 20px auto 0px;
		overflow: auto;
		position: relative;
	}
	#close_add_stop{
		background-color: #861212;
		font-weight: bold;
		width: 38px;
		height: 38px;
		padding: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		border-width: 0px;
		color:white;
		cursor: pointer;
	}
	#modal_add_stop > form p {
		color: white;
		margin: 0px -15px 15px;
		background-color: #002A2A;
		text-align: center;
		padding: 10px 0px;
	}
	#modal_add_stop > form .errorVal{
		color: #921E1E;
		display: none;
		margin: 0 auto;
		padding: 5px 0px;
		text-align: center;
	}

	.query{
		background-color: #F3F3F3;
		width: 100%;
		border-width: 0px;
		box-sizing: border-box;
		padding: 10px 25px;
		margin: 0px;
	}
	#modal_add_stop > form span{
		display: block;
		width: 100%;
		font-size: 85%;
		margin: 15px 0px 5px;
		text-align: justify;
	}
	#modal_add_stop > form .error{
		display: none;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		font-weight: normal;
	}

	#modal_add_stop > form .firs-stop {
		box-sizing: border-box;
		background-color: #F3F3F3;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 10px 25px;
		border-width: 0px;
	}

	.query_box{
		margin: 0px 0px 10px;
		display: flex;
	}
		#add_stop{
			padding: 0px 10px;
			border-width: 0px;
			cursor: pointer;
		}
	#modal_add_stop .cont-stops{
		cursor: default;
		min-height: 5px;
		margin: 0px;
	}
	#modal_add_stop .cont-stops input{
		text-align: center;
		color: black;
		margin: 0;
	}
	#modal_add_stop .cont-stops input:hover{
		background-color: #F7F7F7;
	}
	#modal_add_stop .cont-stops p{
		color: white;
		font-size: 90%;
		text-align: center;
		background-color: #C74444;
		margin: 0px;
		padding: 10px 0px;
	}
	#modal_add_stop .delete_stop{
		color: white;
		margin: 0px auto 10px;
		background-color: #C74444;
		width: 100%;
		border-width: 0px;
		padding: 5px 0px;
		cursor: pointer;
		display: none;
	}
		#modal_add_stop .delete_stop:hover{
			background-color: #A93939;
		}

	#map_stops{
		width: 100%;
		background-color: lightgray;
		height: 275px;
	}
	#modal_add_stop form button[type="submit"]{
		display: block;
		width: 100%;
		border-width: 0px;
		padding: 10px 0px;
		margin-bottom: 35px;
		color: white;
		cursor: pointer;
		background-color: #C74444;
	}
	/*modal add stop*/
	.error, .error-del{
		margin-top: -5px;
		margin-bottom: 10px;
		display: block;
		font-size: 80%;
		text-align: center;
		font-weight: bolder;
		color: #921E1E;
	}
	.update-done{
		position: fixed;
		bottom: 10px;
		left: 50%;
		display: block;
		width: 200px;
		text-align: center;
		padding: 10px;
		background-color: black;
		color: white;
		cursor: pointer;
		margin-left: -100px;
	}
	/*     titulos   */
	.basicInfo > .title , .userRutesBox > .title , .qualificationsBox> .title , .transportInfo > .title{
		box-sizing: border-box;
		text-align: left;
		padding: 10px;
		padding-left: 20px;
		padding-top: 25px;
		font-size: 120%;
		font-weight: bold;
		border-width: 0px;
		border-style:  solid;
		border-bottom-width: 2px;
		border-color: #E5E5E5;
	}
	.userRutesBox > .title{
		background-color: white;
	}
	.basicInfo > .title span ,.userRutesBox > .title span , .qualificationsBox> .title span , .transportInfo > .title span{
		display: block;
		font-size: 75%;
		font-weight: normal;
		margin-top: 5px;
		margin-bottom: 5px;
	}
		/*		informacion basica		*/
		.basicInfo , .transportInfo {
			margin-top: 60px;
			background-color: white;
			border-radius: 3px;
		}
		.basicInfo form , .transportInfo form {
			box-sizing: border-box;
			padding: 25px;
		}
			#change_password{
				margin: 60px auto 10px;
				font-weight: bold;
				width: 100%;
				text-align: left;
				display: block;
			}
			.message{
				text-align: center;
			}
			.basicInfo .block_data , .transportInfo .block_data {
				box-sizing: border-box;
				margin: 0 auto 20px;
				display: inline-block;
				width: 49%;
			}
			.basicInfo .block_data input , .transportInfo .block_data input {
				display: block;
				width: 90%;
				border-width: 0px;
				border-style:  solid;
				border-bottom-width: 2px;
				border-color: #E5E5E5;
				background-color:  white;
				margin: 0 auto;
				font-size: 95%;
				transition: all 0.2s;
				padding: 5px 0px 5px 25px;

			}
				.basicInfo .block_data input:focus , .transportInfo .block_data input:focus {
					outline: none;
					border-color: #292929;
					height: 25px;
				}

			.basicInfo .block_data select, .transportInfo .block_data select {
			   display: block;
			   width: 95%;
			   border-width: 0px;
			   margin: 0px auto;
			   padding: 7px 15px;
			   background-color: #F3F3F3;
			}
			.basicInfo .block_data label , .transportInfo .block_data label {
				font-size: 80%;
				margin-bottom: 5px;
				display: block;
			}
			/*verification*/
			.security{
				padding-top: 40px;
			}
			.security > span {
				font-size: 95%;
				display: block;
				margin-top: -15px;
				padding-bottom: 20px;
			}
			.security  ul{
				list-style-type: none;
				margin: 0;
				font-size: 95%;
			}
			.security ul li{
				display: block;
				width: 100%;
			}
			.security ul li span {
				display: inline-block;
				width: 45%;
			}
			.security ul li input[type="checkbox"] {
				display: inline-block;
				height: 20px;
				width: 20px;
			}
			.basicInfo button , .transportInfo  button {
				padding: 10px 0px;
				background-color: #002A2A;
				color: white;
				cursor: pointer;
				font-size: 100%;
				border-radius: 3px;
				border-width: 0px;
				margin: 50px auto 0px;
				font-size: 90%;
				width: 100%;
			}

		/*   Transporte*/
		.transportInfo .add-transport-box {
			padding: 15px;
			text-align: center;
		}
		.transportInfo form {
			display: none;
		}
		#delete_transport_form {
			display: none;
			margin: 150px auto;
			background-color: white;
			width:350px;
			padding-bottom: 5px;
		}
			#delete_transport_form p {
				color: white;
				padding: 10px 0px;
				text-align: center;
				background-color: #002A2A;
			}
			#delete_transport_form span{
				display: block;
				text-align: justify;
				height: 80px;
				padding: 15px;
				padding-top: 25px;
			}
			#delete_transport_form button{
				cursor: pointer;
				margin-top: 4px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 95%;
				border-width: 0px;
				color: white;
				padding: 10px 0px;
				background-color: #B72C2C;
			}
			#delete_transport_form button:last-child{
				background-color: #002A2A;
			}

		#form-update-transport {
			display: block;
		}
		.basicInfo input[type="radio"] , .transportInfo input[type="radio"] {
			  display: none;
		  }
		  .basicInfo .radio, .transportInfo .radio {
			  padding-top: 5px;
			  display: block;
			  width: 110%;
			  position: relative;
			  z-index: 0;
			  text-align: center;
		  }
		  .basicInfo input[type="file"], .transportInfo input[type="file"] {
			  display: none;
		  }
		  .basicInfo .radio label , .transportInfo .radio label {
			  width: 90px;
			  font-size: 14px;
			  color: gray;
			  background-color: #F3F3F3;
			  display: inline-block;
			  margin-bottom: 20px;
			  padding: 10px;
			  padding-left: 40px;
			  padding-right: 20px;
			  position: relative;
			  border-radius: 3px;
			  cursor: pointer;
		  }
		  .basicInfo .radio label:before , .transportInfo .radio label:before {
			  background:none;
			  border: 3px solid #002A2A;
			  content: "";
			  display: inline-block;
			  width: 13px;
			  height: 13px;
			  border-radius: 50%;
			  position: absolute;
			  top: 8px;
			  left: 12px;
		  }
		  .basicInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .transportInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .transportInfo select{
			  margin-top: 5px;
			  padding: 7px;
		  }
		  .transportInfo img {
			  border-radius: 5px;
			  border-bottom-right-radius: 0px;
			  border-bottom-left-radius: 0px;
			  margin-top: 10px;
			  display: block;
			  width: 100%;
		  }
		  .transportInfo .no_vehicle{
			  margin-top: 80px;
			  text-align: center;
			  font-size: 90%;
		  }
		  #delete-button{
			  margin: 30px auto -50px;
			  background-color: #B72C2C;
		  }
		  .file_label {
			  text-align: center;
			  cursor: pointer;
			  display: block;
			  color: white;
			  padding: 10px;
			  background-color: #B72C2C;
		  }
		/*   Transporte*/


		/*verification*/
		.verif_info,.emails-verif{
			text-align: left;
		}
		.verif_info form{
			display: block;
		}
		.verif_info form span{
			display: block;
			font-size: 80%;
			margin-left: 40px;
			margin-top: 3px;
		}
		.verif_info label{
			margin-top: 20px;
			display: block;
			font-weight: 70%;
		}
		.verif_info input{
			margin-top: 20px;
			display: block;
			width: 90%;
			height: 27px;
			border-width: 0px;
			border-style:  solid;
			border-bottom-width: 2px;
			border-color: #E5E5E5;
			background-color:  white;
			margin-left: auto;
			margin-right: auto;
			transition: all 0.2s;
			font-size: 110%;
		}

		.emails-verif p{
			font-size: 90%;
		}
		.emails-verif ul li span{
			font-size: 90%;
			width: 100%;
			padding: 5px;
			display: block;
			background-color: #C8C8C8;
		}
		.emails-verif ul, .emails-verif ul li{
			display: block;
		}
		.emails-verif ul li:nth-child(2n){
			margin-left: 0px;
		}

		.verif_info > p{
			text-align: center;
			color: #B72C2C;
			font-size: 95%;
		}
		.verfied-user{
			display: block;
			text-align: center;
			font-weight: bold;
			font-size: 95%;
			padding: 10px 0px;
		}

		/*		RUTAS DEL USUARIO		*/
		.userRutesBox {
			text-align: center;
			margin-bottom: 20px;
			background-color: #F5F5F5;
			border-radius: 3px;
			margin-top: 60px;
		}
		.userRutes {
			display: inline-block;
			padding:5px;
			width: 210px;
			min-height: 250px;
			background-color: white;
			margin: 15px;
			border-radius: 5px;
			border: 1px solid #E2E2E2;
		}
		.userRutes span {
			display: block;
			float: left;
			clear: both;
			width: 100%;
			color: black;
			background-color: white;
			font-size: 70%;
			cursor: pointer;
			max-height: 20px;
			padding: 10px 0px;
		}
		.userRutes span:hover {
			background-color: #EBEBEB;
		}
		.userRutes span:nth-child(2){
			margin-top:-36px;
		}

		span.rute_name{
			background-color: #EBEBEB
		}
		 .userRutes .del_route {
			display: inline-block;
			float: none;
			clear: none;
			width: 100%;
			padding: 12px 0px;
			color: white;
			cursor: pointer;
			font-size: 75%;
			color: white;
			background-color: #b72c2c;
			position: relative;
			top:210px;
			right:0px;
		}
		.userRutes .del_route:hover{
			background-color: #b72c2c;
		}
		/*buttons*/
		.userAddRutes{
			padding: 10px 0px;
			background-color: #002A2A;
			color: white;
			cursor: pointer;
			font-size: 100%;
			border-radius: 3px;
			border-width: 0px;
			margin: 20px auto 20px;
			font-size: 90%;
			width: 90%;
		}
		/*		RUTAS DEL USUARIO		*/
		/*		Qualifications- calificaciones		*/
			.qualificationsBox {
				background-color: white;
				border-radius: 3px;
				margin-top: 60px;
			}
			.qualifications{
				display: block;
				padding:40px;
				background-color: white;
			}
			.qualifications:hover {
				background-color: #F7F7F7;
			}
			.qualifications .number {
				font-size: 110%;
				font-weight: bold;
				margin-top: 10px;
				margin-bottom: 15px;
				margin-left: 10px;
				float: right;
			}
			.qualifications img {
				float: left;
				height: 60px;
				border-radius: 30px;
				margin-top: -10px;
				margin-left: -10px;
			}
			.qualifications .name {
				font-weight: bold;
				display: block;
				margin-left: 70px;
			}
			.qualifications .comment {
				display: block;
				margin-left: 70px;
			}
		/*		Qualifications- calificaciones		*/


/*============================================RESPONSIVE PROFILE PAGE=========================================*/
@media (max-width:1000px) {
	.basicInfo .block_data , .transportInfo .block_data {
		width: 100%;
	}

}
@media (max-width:800px) {
	#modal_add_stop{
		height: 100vh;
		margin: 0px;
	}
	.generalInfo{
		padding-top: 10px;
	}
	.left-section{
		display: none;
		margin-top: 70px;
		z-index: 3;
		width: 100%;
		padding-top: 20px;
	}
	.navProfile ul{
		background-color: #161717;
		color: white;
	}
	.logo-section{
		display: none;
	}
	.big_container{
		padding-left: 20px;
	}
	.navProfile ul {
		margin:0px;
	}
	.navProfile ul li a {
		color: white;
	}
	.navProfile #bmenu {
		display: inline-block;
	}
	.navProfile {
		position: fixed;
		top: -3px;
		left: -3px;
		border: 2px solid #C9C9C9;
	}
}
@media (max-width:425px) {
	.paradas2{
		width: 85%;
	}
}
@media (max-width:500px) {
	#delete_transport_form {
		width:90%;
	}
	.big_container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.transportInfo ul li .file_label {
		padding: 10px 0px;
		width: 90%;
	}
}

/*============================================RESPONSIVE PROFILE PAGE=========================================*/
/*============================================PROFILE STYLE===================================================*/


/*============================================GROUP STYLE===================================================*/
.nav-chat {
	color: white;
}
.nav-chat a {
	text-decoration: none;
	color: white;
}
	.nav-chat ul{
		text-align: right;
		list-style: none;
		padding: 5px 150px 0px 0px;
		margin: 0px;
		background-color: #232626;
		height: 55px;
	}
	.nav-chat ul li{
		min-width: 90px;
		display: inline-block;
	}
	#info-button{
		display: none;
		height: 25px;
		width: 25px;
		position: absolute;
		top: 17px;
		right: 15px;
		cursor: pointer;
	}
	.nav-chat img {
		position: relative;
		top: 10px;
		left: -10px;
		height: 30px;
		width: 30px;
		border-radius: 15px;
	}
	#logo-chat{
		position: absolute;
		top: 10px;
		left: 100px;
		height: 40px;
	}
	#back-chat{
		display: none;
		height: 25px;
		width: 25px;
		padding: 15px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
.container-chat{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 100%;
	height: 610px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
	.container-chat .people {
		overflow: auto;
		display: block;
		float: left;
		width: 350px;
		height: 100%;
		border: 0px solid #E2E2E2;
		border-right-width: 1px;
		border-left-width: 1px;
	}
		.people .title-usr {
			display: block;
			background-color: white;
			color: black;
			font-weight: bold;
			font-size: 80%;
			padding: 10px 3px 10px 10px;
			border: 0px solid #E2E2E2;
			border-top-width: 1px;
		}
		.people .cond-group{
			margin-top: 5px;
			margin-right: 5px;
			text-align: center;
			width: 35px;
			padding: 2px;
			display: block;
			color: #009999;
			background-color: white;
			font-size: 80%;
			float: right;
			border-radius: 3px;
			border: 1px solid #009999;
		}
		.people .usr-box .kick-usr{
			display: none;
			height: 30px;
			width: 30px;
			float: right;
			margin-top: 10px;
			border-radius: 0px;
			cursor: pointer;
		}
		.people .usr-box{
			margin: 1px 0px;
			min-height: 50px;
			padding: 5px;
			padding-left: 10px;
			padding-top: 10px;
		}
		.people .usr-box:hover{
			background-color: #F3F3F3;
		}
			.people .usr-box img{
				float: left;
				margin-right: 15px;
				height: 46px;
				width: 46px;
				border-radius: 23px;
			}
			.people .usr-box span{
				display: block;
				position: relative;
				top: 10px;
				font-size: 95%;
			}
			.people .delete-usr-cht,.people .delete-group-usr-cht,.people .out-usr-cht{
				display: none;
				padding: 3px 0px;
				text-align: center;
				font-size: 80%;
				color: white;
				background-color: #009999;
			}
			.people .out-usr-cht{
			}
			.people .delete-group-usr-cht{
				cursor: pointer;
				background-color: #B72C2C;
				display: block;
			}
	.container-chat .cht-box {
		display: block;
		height: 100%;
		overflow: hidden;
	}
		#send-button{
			display: inline-block;
			float: right;
			margin-right: 5%;
			margin-top: 15px;
			cursor: pointer;
			height: 25px;
		}
		.cht-box .content-cht {
			background-color: #EBEEF0;
			display: block;
			height: 90%;
			overflow: auto;
			border: 0px solid #E2E2E2;
			border-bottom-width: 1px;
		}
		.cht-box .input-cht {
			display: block;
			height: 10%;
		}
			.cht-box .input-cht textarea {
				font-size: 105%;
				display: inline-block;
				margin: 0px;
				border-width: 0px;
				width: 80%;
				height: 100%;
				outline: none;
				padding-top: 20px;
				padding-left: 20px;
				resize: none;
				font-family: 'Fira Sans Extra Condensed', sans-serif;
				background-color: white;
			}
		.content-cht .comment-center{
			background-color: #D1D4D7;
			display: block;
			margin: 5px auto;
			width: 35%;
			text-align: center;
			font-size: 90%;
			padding: 2px;
			border-radius: 5px;

		}
		.content-cht .comment-left , .content-cht .comment-right  {
			background-color: #EBEEF0;
			display: block;
			text-align: left;
		}
		 .content-cht .comment-right{
			 text-align: right;
		 }
			.comment-left .box, .comment-right .box{
				display: inline-block;
				background-color: white;
				padding: 7px;
				margin: 5px;
				margin-left: 70px;
				border-radius: 5px;
				min-width: 80px;
				max-width: 500px;
				color: #4B4B4B;
			}
			.comment-right .box{
				text-align: left;
				background-color: #CEFEA9;
				margin-left: 5px;
				margin-right: 70px;
			}
			.comment-left .box .name-coment, .comment-right .box .name-coment{
				display: block;
				font-size: 70%;
				font-weight: bold;
			}
			.comment-left .box .content-coment, .comment-right .box .content-coment{
				word-wrap: break-word;
			}
			.time-coment{
				float: right;
				font-size: 80%;
				padding-top: 3px;
				padding-left: 5px;
			}

	/*modal box- group chat page*/
	.msg-out, .delete-way{
		border-radius: 5px;
		background-color: white;
		display: block;
		margin: 200px auto auto auto;
		width: 320px;
		padding-bottom: 5px;
	}
	.msg-out p, .delete-way p{
		color: white;
		text-align: center;
		padding: 10px 0px;
		background-color: #002A2A;

	}
	.msg-out span , .delete-way span {
		text-align: center;
		display: block;
		padding: 20px 10px 10px;
		margin-bottom: 20px;
	}
	.msg-out button , .delete-way button{
		display: block;
		width: 95%;
		background-color: #002A2A;
		color: white;
		margin: auto auto 5px auto;
		border-width: 0px;
		padding: 10px 0px;
		cursor: pointer;
	}
	form > .yes-confirm{
		background-color: #B72C2C;
	}
	@media (max-width:950px) {
		.container-chat .people {
			display: none;
			background-color: white;
			border-right-width: 0px;
			position: fixed;
			top: 60px;
			left: 0px;
		}
		.people .title-usr {
			border-width: 0px;
		}
		.nav-chat ul {
			padding-right: 50px;
		}
		.nav-chat ul a{
			margin-right: 20px;
			color: white;
		}
		.nav-chat ul a:nth-child(2){
			display: none;
		}
		#info-button{
			display:block;
		}
		#logo-chat {
			display: none;
		}
		#back-chat{
			display: block;
		}
	}
	@media (max-width:600px) {
		.container-chat .people {
			width: 100%;
		}
		.nav-chat ul li{
			min-width: 40px;
		}
	}
	@media (max-width:500px) {
		.msg-out, .delete-way{
			width: 90%;
		}

		.comment-right .box{
			margin-right: 2px;
		}
		.comment-left .box {
			margin-left: 2px;
		}
		.comment-left .box, .comment-right .box{
			max-width: 290px;
		}

	}
	@media (max-width:450px) {
			#logo-chat{
				position: absolute;
				top: 20px;
				left: 50px;
				height: 25px;
			}
	}
/*============================================CHAT-GROUP STYLE===================================================*/

/*============================================MAINTENANCE STYLE===================================================*/
.maintenance {
	padding-top: 150px;
	text-align: center;
	background-color: white;
	height: 700px;
}
.maintenance img {
	height: 150px;
}
.maintenance .title {
	font-size: 150%;
	font-weight: bold;
}
.maintenance a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	width: 100px;
	margin-top: 20px;
	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #005252;
}
@media (max-width:350px) {
	.maintenance img {
		height: 100px;
	}
}
/*============================================MAINTENANCE STYLE===================================================*/
