/*General style*/
body{
	background-color: #E6ECF0;
	margin: 0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
/*=====scrollbarr=========*/
	::-webkit-scrollbar{
	  width: 8px;  /* for vertical scrollbars */
	  height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track{
	  background: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-thumb{
	  background: rgba(0, 0, 0, 0.5);
	}
/*=====scrollbarr=========*/
/*============================================sesionopen=======================================================*/

#nav_feed{
	display: none;
	background-color: #161717;
	width: 100%;
	height: 60px;
	z-index: 3;
	position: fixed;
	top: 0px;
	border: 0px solid gray;
	border-bottom-width: 1px;
}
#nav_feed ul {
	margin-top: 0px;
	list-style-type: none;
	padding: 0px;
	text-align: center;
}
#nav_feed ul li{
	display: inline-block;
}
#nav_feed ul li a {
	text-decoration: none;
}
#nav_feed ul li a img {
	height: 35px;
	padding-top: 10px;
}
#bmenuw {
	display: block;
	height: 35px;
	width: 35px;
	position: fixed;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
.sesion_container{
	margin-top: 10px;
	display: flex;
	min-height: 100vh;
	justify-content: center;
}
.sesion_container_1{
	width: 20%;
	justify-content: center;
}
.sesion_container_2{
	justify-content: center;
	padding: 0px 30px;
	width: 60%;
}
.sesion_container_3{
	justify-content: center;
	width: 20%;
}
.options {
		width: 100%;
		min-height: 110vh;
		display: inline-block;
		margin: 0px;
		margin-top: -10px;
		background-color: #161717;
		color: white;
		text-align: center;
		z-index: 2;
	}
	.options .editar {
		font-size: 80%;
		display: block;
		text-decoration: none;
		color: #009999;
		margin-top: -10px;
	}
		.options .editar:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	.options img {
		height: 120px;
		border-radius: 50%;
		display: block;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	img.put_image_profile{
		width: 120px;
	}
	.options #logo-nav {
		border-radius: 0px;
		height: 30px;
		margin: 30px auto 0px auto;
	}
	.options .nombre {
		display: block;
		margin: 15px 10px 5px 5px;
	}

	.lista {
		display: block;
		margin-top: 20px;
		list-style-type: none;
		text-align: left;
	}
	.lista li span {
		margin-right: 5px;
		float: right;
	}
	.lista #score_usr{
		float: none;
	}
		.lista li {
			font-size: 90%;
			padding: 10px;
			margin-left: -40px;
			cursor: pointer;
		}
			.lista li:hover {
				background-color: #161717;

			}

		.lista li .icono {
			display: inline;
			margin-right: 15px;
			margin-top: -20px;
			border-radius: 0px;
			height: 15px;
		}
		.lista a {
			text-decoration: none;
			color: white;
		}

		#score_li{
			text-align: center;
			margin-left: -40px;
			color: white;
			margin-bottom: 20px;
			background-color: #0F1010;
		}
		#score_li .icono {
			display: inline;
			margin: auto;
			border-radius: 0px;
			height: 15px;
		}

.find {
	display: block;
	background-color: #F5F8FA;
	height: 70px;
	position: relative;
	padding-left: 30px;
	border-width: 0px;
}

	.search {
		background-color: rgba(255, 255, 255, 0);
		display: block;
		width: 100%;
		padding:0px;
		height: 100%;
		margin: 0px -10px;
		margin-left: 0px;
		border-width:0px;
		font-size: 95%;
		color: rgba(0, 0, 0, 0.7);
		outline: 0;
	}
		.find img {
			position: absolute;
			right: 10px;
			top:15px;
			background-color: rgba(255, 255, 255, 0);
			height: 35px;
			width: 35px;
			cursor: pointer;
		}

	#btn-add, #btn-see {
		position: fixed;
		bottom: 50px;
		right: 50px;
		font-size: 150%;
		width: 55px;
		height: 55px;
		padding: 5px;
		color: white;
		background-color: #009999;
		border-radius: 30px;
		border-width: 0px;
		outline: 0;
		cursor: pointer;
		transition: all 0.2s;
		box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	#btn-add:active, #btn-see:active{
		bottom: 48px;
		right: 48px;
		box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.4);
	}
		#btn-add:hover {
			background-color: #006E6E;
		}
	#btn-see[data]:hover:after, #btn-add[data]:hover:after {
	  content: attr(data);
	  padding: 6px;
	  color: white;
	  font-size: 50%;
	  position: absolute;
	  left: -50px;
	  bottom: 100%;
	  white-space: nowrap;
	  border-radius: 2px;
	  background: rgba(0,0,0,0.6);
	}

#new-updates {
	display: none;
	}
#new-updates span{
	text-align: center;
	padding: 10px 10px;
	font-size: 90%;
	display: inline-block;
	cursor: pointer;
	background-color: #F6F6F6;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
.no-results{
	text-align: center;
	display: block;
	font-size: 90%;
	margin-top: -15px;
	padding: 30px 10px;
	background-color: white;
	border: 1px solid #E2E2E2;
}
.result-txt{
	display: block;
	width: 100%;
	color: #007272;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 90%;
}

.publicaciones{
	padding: 0px;
	display: flex;
	background: white;
	min-height: 150px;
	font-size: 90%;
	position: relative;
	transition: all 0.3s;
	border: 0px solid #D0D0D0;
	border-bottom-width: 1px;
}

.cont1, .cont3{
	display: flex;
	justify-content:center;
	width: 15%;
}
.cont2{
	width: 70%;
}

	.publicaciones a {
		text-decoration: none;
		color: black;
	}
	.publicaciones img  {
		display: inline-block;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin-top: 30px;
		cursor: pointer;
	}

	.publicaciones .ini-desti {
		padding: 3px 0px;
		display:block;
	}
	.publicaciones .ini, .publicaciones .desti {
		display: inline-block;
		color: #007272;
		width: 50px;
	}
	.publicaciones .name {
		font-size: 90%;
		font-weight: bold;
		display: block;
		padding: 20px 0px 7px;
	}
	.publicaciones .time {
		display: block;
	}
	.publicaciones .comentario{
		display: block;
		word-break: break-all;
		padding: 3px 0px;
	}
	.publicaciones .cupo {
		display: block;
		text-align: right;
		width: 65px;
		height: 65px;
		line-height: 65px;
		border-radius: 50%;
		cursor: pointer;
		color: gray;
		background-color: #F1F1F1;
		border-width: 0px;
		margin-top: 30px;
		position: absolute;
	}
	.publicaciones .cupo:after  {
		line-height: 15px;
		content:"Cupos";
		color: white;
		position: relative;
		left: -15px;
		top: 45px;
		white-space: nowrap;
		border-radius: 2px;
	}
	.btn-pedirCupo, .btn-eliminar {
		display: none;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		cursor: pointer;
		color: white;
		background-color: #C74444;
		border-width: 0px;
		position: absolute;
		top: 20%;
		right: 30%;
	}
	.btn-pedirCupo:hover, .btn-eliminar:hover {
		background-color: #AC2C2C;
	}
	.btn-pedirCupo > img, .btn-eliminar > img {
		width: 25px;
		height: 25px;
		margin-top: -2px;
	}
	.btn-pedirCupo:after, .btn-eliminar:after {
		content: "";
		color: white;
		position: absolute;
		left: 20px;
		top: 70px;
		white-space: nowrap;
		border-radius: 2px;
	}
	.btn-pedirCupo:after {
		content: "Pedir cupo";
		left: 3px;
	}
	.btn-eliminar:after {
		content: "Chat";
	}

	.ruta{
		text-align: center;
		height: 65px;
		width: 65px;
		border-radius: 50%;
		line-height: 65px;
		background-color: #009999;
		color: white;
		cursor: pointer;
		position: absolute;
		top: 20%;
		left: 30%;
		display: none;
	}
	.ruta:hover{
		background-color: #007C7C;
	}
	.ruta img{
		width: 25px;
		height: 25px;
		border-radius: 0px;
		margin-left: 3px;
		margin-top:20px;
	}
	.ruta:after{
		line-height: 15px;
		content:"Ver mapa";
		color: white;
		position: absolute;
		left: 5px;
		top: 70px;
		white-space: nowrap;
		border-radius: 2px;
	}
.news {
	margin-top: 0px;
	display: inline-block;
	background: white;
	padding: 10px 5px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
.news img {
	border-radius: 5px;
}

.ads {
	width: 100%;
	text-align: center;
	padding: 150px 10px;
	box-sizing: border-box;
	min-height: 200px;
	background: white;
	margin-right: 10px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
	.ads .copy {
		font-size: 95%;
	}
	.ads a {
		font-size: 90%;
		text-decoration: none;
		color: darkgrey;
	}
		.ads a:hover {
			text-decoration: underline;
		}

#addRouteBox {
	display: none;
	background-color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 260%;
	width: 100%;
	z-index: 3;
}


#addRoute {
	display: none;
	margin-left: auto;
	margin-right: auto;
     margin-top:50px;
	padding: 0px;
	padding-bottom: 10px;
	background: rgba(255, 0, 0, 1);
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 10px;
	width: 50%;
	min-height: 300px;
	position: relative;
}
#addRoute p {
	background-color: #002A2A;
	color: white;
	padding: 15px 5px;
	text-align: center;
}
#addRoute input {
	text-align: center;
	display: block;
	outline: none;
	padding: 10px 0px;
	width: 90%;
	margin: 0px auto;
	border: 1px solid #E5E5E5;
	transition: all 0.2s;
	cursor: pointer;
}
#addRoute > select {
	text-align-last: center;
	display: block;
	width: 90%;
	padding: 5px 0px;
	border-width: 0px;
	margin: 0px auto;
}

#addRoute button {
	margin: 0px auto;
	width: 90%;
	color: white;
	padding: 15px 0px;
	display: block;
	background-color: #002A2A;
	border-width: 0px;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
}

#addRoute #closeAddRoute {
	background-color: #861212;
	font-weight: bold;
	width: 49px;
	height: 49px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/*Checked para sesionopen (formulario de crear un recorrido)*/
#addRoute input[type="radio"] {
	display: none;
}
#addRoute a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#addRoute .rutaXBox{
	display: flex;
	margin: 5px auto;
	height: 30px;
	width: 90%;
}
#addRoute .rutaXBox select{
	margin: 0px;
	padding: 0px;
	position: static;
	height: 30px;
	border-width: 0px;
	width: 100%;
}
#addRoute label {
	background-color: #E3E3E3;
	display: inline-block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: relative;
	transition: all .2s
}
 #addRoute label:before {
	background:#002A2A;
	border: 3px solid #002A2A;
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 9px;
	left: 9px;
	transition: all .2s;
}
#addRoute  input[type="radio"]:checked + label:before{
	background-color: #002A2A;
	width: 23px;
	height: 24px;
	top: 0;
	left: 0;
}
#addRoute .finish_start{
	min-height: 51px;
	display: block;
	margin: 5px auto;
	width: 90%;
	padding: 0px;
}
.finish_start span {
	background-color: white;
	display: block;
	padding: 3px;
	font-size: 80%;
	margin-bottom: 5px;
}

	#addRoute #start_l:before , #addRoute #finish_l:before  {
		content: "Termina";
		background-color: #C1C1C1;
		border: none;
		display: inline-block;
		width: 1px;
		height: 1px;
		position: absolute;
		top: 5px;
		left: 45px;
		transition: all .2s;
	}

	#addRoute #start_l:before{
		content:"Comienza";
		left: 30px;
	}
	#addRoute #start_l , #addRoute #finish_l  {
		width: 50%;
		margin-top: -5px;
		float: right;
		font-size: 80%;
	}
	#addRoute  #start:checked + label, #addRoute  #finish:checked + label, #addRoute  #start:checked + label:before, #addRoute  #finish:checked + label:before{
		background-color: #002A2A;
		color: white;
	}
	#addRoute  .commentTitle {
		font-size: 75%;
		display: block;
		width: 90%;
		margin: 5px auto;
		padding: 0px 0px;
	}
	#addRoute textarea {
		display: block;
		border: none;
		background-color: #E3E3E3;
		margin: 0px auto;
		resize: vertical;
		min-height: 80px;
		width: 90%;
		margin-bottom: 10px;
	}



.modal-box {
		display: none;
		background: rgba(0, 0, 0, 0.4);
		position: fixed;
		left: 0;
		top: 0;
		height: 260%;
		width: 100%;
		z-index: 3;
}
.modal-window {
	display: none;
	margin: 40px auto 0px auto;
	height: 575px;
	width: 768px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(160,165,168,1);
}
	#back{
		cursor: pointer;
		display: block;
		padding: 5px;
		height: 25px;
		width: 25px;
	}
	.modal-window .encb{
		width: 300px;
		float: left;
	}
	.encb .block, .encb2 .block {
		display: block;
	}
		.modal-window .encb img {
			display: block;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			height: 180px;
			width: 180px;
			border-radius: 100px;
		}
		.modal-window .encb label{
			text-align: right;
			display: inline-block;
			font-size: 70%;
			width: 80px;
		}
		.modal-window .encb span{
			text-align: left;
			display: inline-block;
			max-width: 205px;
			overflow: hidden;
			margin-left: 5px;
			font-weight: bold;
			font-size: 80%;
		}
		.modal-window .encb2 label {
			display: block;
			width: auto;
		}
		.modal-window .encb2 span{
			max-width: none;
			display: block;
		}
		.modal-window .encb span:nth-child(2) {
			padding-top: 30px;
		}

			.user_score{
				text-align: center;
				display: block;
				margin: 20px auto -10px;
			}
			.encb .user_score > img , .encb2 .user_score > img{
				display: inline-block;
				height: 20px;
				width: 20px;
				margin: 0px;
				padding: 0px;
				border-radius: 100px;
			}
			.encb2 .user_score > img{
				height: 30px;
				width: 30px;
			}
			.encb2 .user_score{
				padding: 10px;
			}
			.encb2 .user_score > span{
				font-size: 120%;
			}

	.modal-window .info-usr {
		background-color: #F5F5F5;
		display: block;
		float: left;
		margin-left: 10px;
		margin-top: -35px;
		text-align: left;
		height: 100%;
		width: 450px;
		border-width: 1px;
		border-color: black;
	}
	#data_option{
		display: none;
	}
		.info-usr ul {
			background-color: white;
			padding: 0px;
			margin: 0px;
			height: 30px;
			list-style-type: none;
		}
		.info-usr ul li {
			cursor: pointer;
			padding: 0px;
			margin: 0px;
			margin-top: -5px;
			width: 32%;
			height: 25px;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			font-size: 80%;
		}
		.info-usr .li_underline {
			position: relative;
			display: inline-block;
			top:22px;
			height: 2px;
			width: 100%;
			background-color: #009999;
		}
		.transport_info{
			height: 92%;
			overflow: auto;
		}
			.transport_info .tr-box{
				display: block;
				background-color: white;
				margin: 2px 5px;
				min-height: 50px;
			}
			.transport_info .tr-box label{
				display: block;
				font-size: 90%;
				font-weight: bold;
				margin: 0px 0px 0px 7px;
				padding-top: 7px;
			}
			.transport_info .tr-box span{
				display: block;
				text-align: center;
				padding: 0px 10px 5px;
			}
			.transport_info .tr-box img{
				display: block;
				width: 100%;
				margin: 0px auto;
				padding: 10px 0px;
				max-width: 500px;
				max-height: 500px;
			}
		.routes_info{
			display: none;
			height: 90%;
			overflow: auto;
		}
			.routes_info .rts-box {
				border: 1px solid #D0D0D0;
				display: block;
				margin: 5px auto 10px;
				width: 70%;
				background-color: white;
			}
			.routes_info .rts-box span {
				text-align: center;
				display: block;
				padding: 10px;
				font-size: 80%;
			}
			.routes_info .rts-box span:first-child {
				background-color: #EBEBEB;
			}
			.routes_info .rts-box span:hover {
				cursor: pointer;

			}

		.comments_info{
			display: none;
			height: 90%;
			overflow: auto;
		}
		#del-cm-btn{
			border-width: 0px;
			background-color: #C74444;
			padding: 5px 0px;
			color: white;
			border-radius: 3px;
			font-size: 70%;
			cursor: pointer;
			display: block;
			margin: 20px auto 5px;
			width: 95%;
			transition: all 0.2s;
			outline: none;
			position: relative;
			box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
		}
		#del-cm-btn:active{
			top: 1px;
			left: 1px;
		}
		.comments_info .comm_fail{
			display: none;
			background-color: #C74444;
			color:white;
			margin: 5px;
			padding: 5px;
			border: 1px solid #E2E2E2;
			text-align: center;
			font-size: 80%;
			height: 20px;
		}
			#no_cm{
				line-height: 70px;
			}
			.comments_info .cm-box, .comments_info .add_comment{
				background-color: white;
				margin: 5px;
				padding: 5px;
				border: 1px solid #E2E2E2;
				min-height: 60px;
			}
			.comments_info .add_comment{
				font-family: 'Fira Sans Extra Condensed', sans-serif;
				text-align: center;
			}
			.comments_info .add_comment .score-box{
				display: none;
				background-color: blue;
				width: 95%;
				margin: 0px auto 30px;
				padding: 0px;
			}
			.comments_info .add_comment label{
				background-color: #F5F5F5;
				margin: 0px;
				padding: 5px 0px;
				float: left;
				font-size: 80%;
				width: 20%;
				cursor: pointer;
				transition: all 0.3s;
			}
			.comments_info .add_comment label:hover{
				background-color: #E3E3E3;
			}
			.comments_info .add_comment input[type="radio"]{
				display: none;
			}
			.comments_info .add_comment button{
				display: none;
				margin: 0px auto;
				width: 95%;
				cursor: pointer;
				background-color: #009999;
				color: white;
				border-width: 0px;
				padding: 5px;
				border-radius: 3px;
			}
			.comments_info .add_comment textarea{
				outline: none;
				font-size: 85%;
				display: block;
				width: 95%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10px;
				border-width: 0px;
				resize: none;
				height: 50px;
			}
			.comments_info .cm-box{
				min-height: 70px;
			}
			.comments_info .cm-box img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				float: left;
				margin: 10px;
			}
			.comments_info .cm-box label {
				display: block;
				font-size: 90%;
				padding-top: 5px;
			}
			.comments_info .cm-box label span{
				text-align: center;
				padding: 2px;
				display: inline-block;
				background-color: #009999;
				color: white;
				height: 15px;
				width: 30px;
				font-size: 80%;
				border-radius: 3px;
			}
			.comments_info .cm-box >span {
				font-size: 85%;
				color: #606060;
			}
			.comments_info .cm-box p {
				padding: 0px;
				margin: 0px;
				text-align: center;
				background: lightblue
			}
		.data_info{
			display: none;
		}

		.error_way{
			display: none;
			text-align: center;
			margin: 150px auto auto auto;
			background-color: white;
			width: 300px;
			padding: 10px;
			min-height: 100px;
		}
		.error_way span{
			padding-top: 10px;
			padding-bottom: 40px;
			display: block;
		}
		.error_way button{
			display: block;
			width: 100%;
			background-color: #009999;
			color: white;
			border-width: 0px;
			border-radius: 3px;
			padding: 5px 0px;
			cursor: pointer;
		}
#back2{
	cursor: pointer;
	display: block;
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
}
#modal-window-route{
	display: none;
	background-color: white;
	width: 750px;
	padding: 5px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}
#modal-window-route .cont-stops{
	cursor: default;
}
#modal-window-route .cont-stops span{
	font-size: 90%;
	display: block;
	margin: 3px 0px;
	padding: 5px 3px 5px 20px;
	transition: all 0.2s;
}
#modal-window-route .cont-stops p{
	background-color: red;
	color: white;
	font-size: 90%;
	text-align: center;
	background-color: #C74444;
	margin: 0px;
	padding: 3px 0px;
}
#modal-window-route .cont-stops span:hover{
	background-color: #F7F7F7;
}
#map{
	background-color: lightgray;
	height: 400px;
}


@media (max-width: 1000px) {
	/*sesionOpen*/
	.sesion_container_3{
		display: none;
	}
	.sesion_container_1{
		width: 30%;
	}
	.sesion_container_2{
		width: 70%;
	}
}
@media (max-width: 800px) {
	#logo-nav{
		display: none;
	}
	.options{
		margin-top: 60px;
	}
	#modal-window-route{
		display: block;
		width: auto;
		height: 100vh;
		overflow: scroll;
		margin: 0px auto;
	}
	.sesion_container_1{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 300px;
		z-index: 2;
	}
	.sesion_container_2{
		width: 100%;
	}
	/*desaparece panel izquierdo y aparece en la barra .navFeed*/
	.modal-window{
		margin-top: 0px;
		height: 100vh;
		width: 100%;
	}
	.modal-window .info-usr{
		margin-top: 0px;
	}
	#nav_feed{
		display: block;
	}
	.find {
		margin-top: 60px;
	}
	#back{
		position: absolute;
		top: 7px;
		left: 7px;
	}
}
@media (max-width:768px) {
	/*sesionOpen*/
	.encb .user_score #user_score, .encb .user_score > img{
		display: none;
	}
	#data_option{
		display: inline-block;
	}
	.info-usr ul li {
		width: 22%;
	}
	.data_info{
		padding: 0px;
		margin: 10px;
		height: 80%;
		background-color: white;
	}
	.encb2 .block{
		height: 45px;
		float: none;
		display: block;
		width: 97%;
	}
	.encb2 .block:nth-child(1) {
		padding-top: 30px;
	}

	.encb2 .block label{
		width: 25%;
		font-size: 100%;
	}
	.encb2 .block span{
		display: block;
		width: 100%;
		font-size: 100%;
	}
	#user_score{
		display: inline-block;
		font-size: 150%;
	}
	.modal-window {
		display: none;
		height: 100%;
		width: 100%;
		margin-top: 0px;
		overflow: auto;
	}
	.modal-window .encb{
		overflow: hidden;
		height: 150px;
		width: auto;
		float: none;
		margin: 0px;
		padding-top: 3px;
	}
	.modal-window .info-usr {
		float: none;
		width: auto;
	}
	.modal-window .encb img {

		height: 100px;
		width: 100px;
	}
}
@media (max-width:600px) {
	/*sesionOpen*/
	.sesion_container_2{
		padding: 0px;
	}

}

@media (max-width:550px) {
	/*sesionOpen*/
	.modal-window {
		width: 100%;
	}
	.encb2 .block label{
		width: 100px;
		padding: 0 4px;
		font-size: 90%;
	}
	.btn-pedirCupo, .btn-eliminar {
		height: 55px;
		width: 55px;
	}
	.btn-eliminar:after{
		font-size: 90%;
		top: 60px;
		left: 15px;
	}
	.btn-pedirCupo:after{
		font-size: 90%;
		top: 60px;
		left: -2px;
	 }
	.ruta {
		height: 55px;
		width: 55px;
	}
	.publicaciones .cupo {
		height: 55px;
		width: 55px;
		line-height: 55px;
	}
	.publicaciones .cupo:after{
		font-size: 85%;
		top: 40px;
		left: -13px;
	}
	.ruta img{
		margin-top:15px;
	}
	.ruta:after  {
		font-size: 85%;
		top: 60px;
		left: 5px;
	}
	.publicaciones .cont1 img{
		margin-top: 30px;
		height: 55px;
		width: 55px;
	}

}

@media (max-width:500px) {
	/*sesionOpen*/
	.encb2 .block{
		height: 50px;
	}
	.encb2 .block label{
		text-align: left;
		float: none;
		padding-left: 10px;
		display: block;
		width: 80px;
	}
	.encb2 .block span{
		padding-top: 5px;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

}
@media (max-width:425px) {
	/*sesionOpen*/
	.cont1, .cont3{
		width: 60px;
		padding: 0px 3px;
	}
	.publicaciones{
		font-size: 80%;
	}
	.btn-pedirCupo, .btn-eliminar {
		font-size: 90%;
	}
	.btn-pedirCupo:after, .btn-eliminar:after {
		top: 64px;
	}
	.cont2{
		padding: 0px 10px;
		box-sizing: border-box;
	}

}
@media (max-width: 420px) {
	/*sesionOpen*/
	#map{
		background-color: lightgray;
		height: 350px;
	}
}






/*============================================userProfile===================================================*/
.navProfile {
	width: 100%;
	position: absolute;
	z-index: 2;
}
.navProfile #bmenu {
	display: none;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
}
.navProfile ul {
	margin: 0px;
	margin-left: 270px;
	background-color: white;
	padding: 0px;
	padding-top: 27px;
	list-style-type: none;
	height: 44px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
	.navProfile ul li {
		display: inline;
	}
	.navProfile ul li a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	.navProfile ul li span {
		display: inline;
		font-weight: bold;
		font-size: 110%;
	}
	.navProfile ul li:nth-child(1){
		margin-left: 25px;
	}

.big_container{
	padding: 40px;
	padding-left: 315px;
}
.big_container > div {
	display: none;
}
.big_container #basicInfo{
	display: block;
}
.left-section {
	position: fixed;
	background-color: #161717;
	width: 275px;
	z-index: 3;
	height: 100vh;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
.logo-section {
	padding: 25px 0px;
	text-align: center;
}
.logo-section a {
	text-decoration: none;
}
.logo-section img{
	height: 25px;
}

.generalInfo {
	padding-top: 10px;
	height: 50%;
	color: white;
}
	#little_img  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		border-radius: 90px;
		padding: 2px;
		background-color: grey;
		cursor: pointer;
	}

	#profile_Image {
		height: 350px;
		width: 300px;
		background-color: white;
		display: none;
		text-align: center;
		position: fixed;
		border-radius: 5px;
		top: 100px;
		left:500px;
		z-index: 2;
	}
		#profile_Image  input{
			display: block;
		}
		#profile_Image  button{
			display: block;
			cursor: pointer;
		}
		#big_image {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			height: 250px;
			width: 250px;
			border-radius: 125px;
		}
		#profile_Image input[type="file"]{
			display: none;
		}
		#profile_Image label {
			display: inline-block;
			padding: 10px;
			color: black;
			background-color: #E4E4E4;
			cursor: pointer;
			font-size: 90%;
			border-radius: 3px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-width: 0px;
			margin-top: 20px;
			margin-right: -4px;
		}
		#profile_Image button {
			display: inline-block;
			text-align: right;
			padding: 10px;
			background-color: #009999;
			color: white;
			cursor: pointer;
			font-size: 90%;
			border-radius: 3px;
			border-width: 0px;
			margin-top: 20px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

	.generalInfo .options-left-section ul {
		list-style-type: none;
		padding-left: 60px;
		margin-top: 50px;
	}
	.generalInfo .options-left-section ul a {
		text-decoration: none;
		color: white;
	}
		.generalInfo .options-left-section ul li {
			padding-top: 15px;
			height: 30px;
		}

		.generalInfo .options-left-section ul li:hover {
			color: #009999;
			font-weight: bold;
			cursor: pointer;
		}
		.generalInfo .options-left-section ul li span:before {
			margin-top: -7px;
			background:#009999;
			border: 3px solid #009999;
			content: "";
			display: inline-block;
			width: 0px;
			height: 30px;
			position: absolute;
			left: -10px;
		}
		.generalInfo .options-left-section ul li:hover > span:before {
			left: 0px;
			transition: all 0.2s;
		}

#add-route-user2{
	display: none;
	margin-top: 10px;
}

.new-add{
	display: none;
	background-color: lightgray;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
}
.new-add select{
	display: block;
	margin-bottom: 5px;
	border-width: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 94%;
	padding: 7px 0px;
	background-color: #F3F3F3;
}
.paradas2{
	display: inline-block;
	width: 90%;
	padding: 10px;
	margin: 2px;
	margin-right: 0px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-width: 0px;
	text-align: center;
	outline: none;
}

.hide_stop{
	border-width: 0px;
	background-color: #B72C2C;
	color: white;
	height: 35px;
	width: 20px;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	cursor: pointer;
	margin-left: -3px;
}
	.error, .error-del{
		margin-top: -5px;
		margin-bottom: 10px;
		display: block;
		font-size: 80%;
		text-align: center;
		font-weight: bolder;
		color: #921E1E;
	}
	.update-done{
		position: fixed;
		bottom: 40px;
		left: 40%;
		display: block;
		width: 200px;
		text-align: center;
		padding: 5px;
		border-radius: 15px;
		background-color: #009999;
		color: white;
		cursor: pointer;
	}
	/*     titulos   */
	.basicInfo > .title , .userRutesBox > .title , .qualificationsBox> .title , .transportInfo > .title{
		text-align: left;
		padding: 10px;
		padding-left: 20px;
		padding-top: 25px;
		font-size: 120%;
		font-weight: bold;
		border-width: 0px;
		border-style:  solid;
		border-bottom-width: 2px;
		border-color: #E5E5E5;
	}
	.userRutesBox > .title{
		background-color: white;
	}
	.basicInfo > .title span ,.userRutesBox > .title span , .qualificationsBox> .title span , .transportInfo > .title span{
		display: block;
		font-size: 75%;
		font-weight: normal;
		margin-top: 5px;
		margin-bottom: 5px;
	}
		/*		informacion basica		*/
		.basicInfo , .transportInfo {
			margin-top: 60px;
			text-align: right;;
			box-shadow: 0 0 1px rgba(160,165,168,1);
			background-color: white;
			border-radius: 3px;
			overflow: hidden;
		}
			.basicInfo ul , .transportInfo ul {
				list-style-type: none;
				padding: 0px;
				padding-left: 25px;
				text-align: left;
			}
			.basicInfo ul li , .transportInfo ul li {
				width: 45%;
				display: inline-block;
				margin-bottom: 15px;
			}
			.basicInfo ul li:nth-child(2n), .transportInfo ul li:nth-child(2n) {
				margin-left: 5%;
			}
			.basicInfo ul li label , .transportInfo ul li label {
				font-weight: lighter;
				font-size: 90%;
				width: 400px;
			}
			.basicInfo ul li input, .transportInfo ul li input {
				display: block;
				width: 90%;
				height: 27px;
				border-width: 0px;
				border-style:  solid;
				border-bottom-width: 2px;
				border-color: #E5E5E5;
				background-color:  white;
				padding-left: 20px;
				margin-left: auto;
				margin-right: auto;
				transition: all 0.2s;
				font-size: 110%;
			}
			.basicInfo ul li input:focus , .transportInfo ul li input:focus{
				outline: none;
				border-color: #292929;
				height: 25px;
			}
			.basicInfo button , .transportInfo button {
				text-align: right;
				padding: 10px;
				background-color: #009999;
				color: white;
				cursor: pointer;
				font-size: 100%;
				border-radius: 3px;
				border-width: 0px;
				margin-right: 20px;
				margin-bottom: 15px;
			}

		/*   Transporte*/
		.transportInfo {
			margin-top: 60px;
			margin-bottom: 20px;
		}
		.transportInfo .add-transport-box {
			padding: 15px;
			text-align: center;
		}
		.transportInfo form {
			display: none;
		}
		#delete_transport_form {
			border-radius: 3px;
			display: none;
			position: fixed;
			top: 200px;
			left: 35%;
			background-color: white;
			width:350px;
			height: 210px;
		}
			#delete_transport_form span{
				display: block;
				text-align: center;
				height: 80px;
				padding: 15px;
				padding-top: 25px;
			}
			#delete_transport_form button{
				cursor: pointer;
				border-radius: 3px;
				margin-top: 4px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
				border: 3px solid #009999;
				color: white;
				padding: 5px 0px;
				background-color: #009999;
				box-shadow: 0px 0px 0px;
			}
			#delete_transport_form button:nth-child(4){
				background-color: #B72C2C;
				border: 3px solid #B72C2C;
			}

		#form-update-transport {
			display: block;
		}
		.basicInfo input[type="radio"] , .transportInfo input[type="radio"] {
			  display: none;
		  }
		  .basicInfo .radio, .transportInfo .radio {
			  padding-top: 5px;
			  display: block;
			  width: 110%;
			  position: relative;
			  z-index: 0;
			  text-align: center;
		  }
		  .basicInfo input[type="file"], .transportInfo input[type="file"] {
			  display: none;
		  }
		  .basicInfo .radio label , .transportInfo .radio label {
			  width: 90px;
			  font-size: 14px;
			  color: gray;
			  background-color: #F3F3F3;
			  display: inline-block;
			  margin-bottom: 20px;
			  padding: 10px;
			  padding-left: 40px;
			  padding-right: 20px;
			  position: relative;
			  border-radius: 3px;
			  cursor: pointer;
		  }
		  .basicInfo .radio label:before , .transportInfo .radio label:before {
			  background:none;
			  border: 3px solid #002A2A;
			  content: "";
			  display: inline-block;
			  width: 13px;
			  height: 13px;
			  border-radius: 50%;
			  position: absolute;
			  top: 8px;
			  left: 12px;
		  }
		  .basicInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .transportInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .basicInfo select, .transportInfo select {
		  	display: block;
		  	margin-bottom: 20px;
		  	border-width: 0px;
			margin-left: auto;
			margin-right: auto;
			width: 95%;
			padding: 15px;
			background-color: #F3F3F3;
		  }
		  .transportInfo select{
			  margin-top: 5px;
			  padding: 7px;
		  }
		  .transportInfo img {
			  border-radius: 5px;
			  border-bottom-right-radius: 0px;
			  border-bottom-left-radius: 0px;
			  margin-top: 10px;
			  display: block;
			  width: 420px;
		  }
		  .file_label {
			  text-align: center;
			  cursor: pointer;
			  display: block;
			  color: white;
			  padding: 10px;
			  background-color: #009999;
		  }
		/*   Transporte*/


		/*verification*/
		.verif_info,.emails-verif{
			text-align: left;
		}
		.verif_info form{
			display: block;
		}
		.verif_info form span{
			display: block;
			font-size: 80%;
			margin-left: 40px;
			margin-top: 3px;
		}
		.verif_info label{
			margin-left: 20px;
			margin-top: 20px;
			display: block;

			font-weight: 70%;
		}
		.verif_info input{
			margin-left: 20px;
			margin-top: 20px;
			display: block;
			display: block;
			width: 90%;
			height: 27px;
			border-width: 0px;
			border-style:  solid;
			border-bottom-width: 2px;
			border-color: #E5E5E5;
			background-color:  white;
			padding-left: 20px;
			margin-left: auto;
			margin-right: auto;
			transition: all 0.2s;
			font-size: 110%;
		}
		.verif_info button{
			float: right;
			margin-left: 40px;
			margin-top: 20px;
			display: block;
		}

		.emails-verif p{
			font-size: 90%;
			margin-left: 20px;
		}
		.emails-verif ul li span{
			font-size: 90%;
			width: 100%;
			padding: 5px;
			display: block;
			background-color: #C8C8C8;
		}
		.emails-verif ul, .emails-verif ul li{
			display: block;
		}
		.emails-verif ul li:nth-child(2n){
			margin-left: 0px;
		}

		.verif_info > p{
			text-align: center;
			color: #B72C2C;
			font-size: 95%;
		}
		.verfied-user{
			display: block;
			text-align: center;
			font-weight: bold;
			font-size: 95%;
			padding: 10px 0px;
		}
		/*verification*/

		.security{
			text-align: left;
		}
		.security h4{
			padding-top: 15px;
			padding-left: 25px;
		}
		.security > span {
			display: block;
			margin-left: 25px;
			margin-right: 25px;
			margin-top: -15px;
			padding-bottom: 20px;
			font-size: 95%;
		}
		.security ul{
			list-style-type: none;
			padding: 0px;
		}
		.security ul li:nth-child(2n){
			margin-left: 30px;
		}
		.security ul li{
			margin-left: 30px;
			display: block;
			width: 100%;
		}
		.security ul li span {
			display: inline-block;
			width: 45%;
		}
		.security ul li input[type="checkbox"] {
			display: inline-block;
			height: 20px;
			width: 20px;
		}



		/*		RUTAS DEL USUARIO		*/
		.userRutesBox {
			text-align: center;
			box-shadow: 0 0 1px rgba(160,165,168,1);
			margin-bottom: 20px;
			background-color: #F5F5F5;
			border-radius: 3px;
			margin-top: 60px;
		}
						/*boton agregar ruta*/
						.box-button {
							text-align: right;
							height: 60px;
						}
						.userAddRutes {
							display: block;
							padding: 10px;
							background-color: #009999;
							color: white;
							cursor: pointer;
							font-size: 100%;
							border-radius: 3px;
							border-width: 0px;
							float: right;
							margin-right: 35px;
						}
						/*boton agregar ruta*/
		.userRutes {
			display: inline-block;
			padding:5px;
			width: 210px;
			min-height: 220px;
			background-color: white;
			margin: 15px;
			border-radius: 5px;
			border: 1px solid #E2E2E2;
		}
		.userRutes span {
			display: block;
			float: left;
			clear: both;
			width: 100%;
			color: black;
			background-color: white;
			font-size: 70%;
			cursor: pointer;
			max-height: 20px;
			padding: 10px 0px;
		}
		.userRutes span:hover {
			background-color: #EBEBEB;
		}
		.userRutes span:nth-child(2){
			margin-top:-36px;
		}
		 .userRutes .del_route {
			display: inline-block;
			float: none;
			clear: none;
			width: 100%;
			padding: 12px 0px;
			color: white;
			cursor: pointer;
			font-size: 75%;
			color: white;
			background-color: #b72c2c;
			position: relative;
			top:183px;
			right:0px;
		}
		.userRutes .del_route:hover{
			background-color: #b72c2c;
		}
		/*		RUTAS DEL USUARIO		*/
		/*		Qualifications- calificaciones		*/
			.qualificationsBox {
				background-color: white;
				box-shadow: 0 0 1px rgba(160,165,168,1);
				border-radius: 3px;
				margin-top: 60px;
			}
			.qualifications{
				display: block;
				padding:40px;
				background-color: white;
			}
			.qualifications:hover {
				background-color: #F7F7F7;
			}
			.qualifications .number {
				font-size: 110%;
				font-weight: bold;
				margin-top: 10px;
				margin-bottom: 15px;
				margin-left: 10px;
				float: right;
			}
			.qualifications img {
				float: left;
				height: 60px;
				border-radius: 30px;
				margin-top: -10px;
				margin-left: -10px;
			}
			.qualifications .name {
				font-weight: bold;
				display: block;
				margin-left: 70px;
			}
			.qualifications .comment {
				display: block;
				margin-left: 70px;
			}
		/*		Qualifications- calificaciones		*/

		/*buttons*/
		.basicInfo button , .transportInfo button, .userAddRutes{
			float: none;
			font-size: 80%;
			text-align: center;
			display: block;
			margin-right: auto;
			margin-left: auto;
			width: 95%;
		}

/*============================================RESPONSIVE PROFILE PAGE=========================================*/
@media (max-width:1240px) {
	.basicInfo ul li , .transportInfo ul li {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.basicInfo ul li:nth-child(2n), .transportInfo ul li:nth-child(2n) {
		margin-left: auto;
	}
	.basicInfo ul li label, .transportInfo ul li label {
		margin-left: 5%;
	}
	.basicInfo ul li input, .transportInfo ul li input {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.basicInfo ul li select, .transportInfo ul li select {
		width: 80%;
	}
	.transportInfo img {
		margin-top: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 420px;
	}
	.transportInfo ul li .file_label {
		margin-left: auto;
		margin-right: auto;
	}
	#profile_Image {
		left:400px;
	}

	.security ul li:nth-child(2n){
		margin-left: 30px;
	}
	.security ul li{
		margin-left: 30px;
		display: block;
		width: 100%;
	}
	.security ul li span {
		display: inline-block;
		width: 70%;
	}
	.security ul li input[type="checkbox"] {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0px;
	}

}
@media (max-width:850px) {
	.transportInfo img,.transportInfo ul li .file_label {
		width: 80%;
	}
	.transportInfo ul li .file_label {
		padding: 10px 0px;
		width: 80%;
	}
	.basicInfo .radio , .transportInfo .radio {
		width: 100%;
	}
	.basicInfo .radio label , .transportInfo .radio label {
		width: 20%;
	}
	#profile_Image {
		left:250px;
	}

}
@media (max-width:800px) {
	.left-section{
		margin-top: 70px;
		display: none;
		z-index: 3;
		width: 320px;
	}
	.big_container{
		padding-left: 40px;
	}
	.navProfile ul {
		margin:0px;
	}
	#delete_transport_form {
		left: 20%;
	}
	.navProfile #bmenu {

		display: inline-block;
	}
	.navProfile {
		position: fixed;
		top: -3px;
		left: -3px;
		border: 2px solid #C9C9C9;
	}
}
@media (max-width:650px) {
	#profile_Image {
		left:150px;
	}
}
@media (max-width:425px) {
	.paradas2{
		width: 85%;
	}

}
@media (max-width:500px) {

	.basicInfo button , .transportInfo button, .userAddRutes{
		float: none;
		font-size: 80%;
		text-align: center;
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}
	#delete_transport_form {
		top: 200px;
		left:0;
		width:100%;
	}
	.big_container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.basicInfo ul, .transportInfo ul {
		padding: 0px;

	}
	.basicInfo ul li label, .transportInfo ul li label {
		margin-left: 20px;
	}
	.basicInfo ul li input, .transportInfo ul li input {
		width: 90%;
	}
	.basicInfo ul li select, .transportInfo ul li select {
		width: 90%;
	}
	.transportInfo img,.transportInfo ul li .file_label {
		width: 90%;
	}
	.transportInfo ul li .file_label {
		padding: 10px 0px;
		width: 90%;
	}
	#profile_Image {
		width: 100%;
		left:0;
	}
}

/*============================================RESPONSIVE PROFILE PAGE=========================================*/
/*============================================PROFILE STYLE===================================================*/


/*============================================GROUP STYLE===================================================*/
.nav-chat {
	color: white;
}
.nav-chat a {
	text-decoration: none;
	color: white;
}
	.nav-chat ul{
		text-align: right;
		list-style: none;
		padding: 5px 150px 0px 0px;
		margin: 0px;
		background-color: #232626;
		height: 55px;
	}
	.nav-chat ul li{
		min-width: 90px;
		display: inline-block;
	}
	#info-button{
		display: none;
		height: 30px;
		width: 30px;
		top: 15px;
		right: 15px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.nav-chat img {
		position: relative;
		top: 10px;
		left: -10px;
		height: 30px;
		width: 30px;
		border-radius: 15px;
	}
	#logo-chat{
		position: absolute;
		top: 10px;
		left: 100px;
		height: 40px;
	}
	#back-chat{
		display: none;
		height: 25px;
		width: 25px;
		padding: 15px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
.container-chat{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 100%;
	height: 610px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
	.container-chat .people {
		overflow: auto;
		display: block;
		float: left;
		width: 350px;
		height: 100%;
		border: 0px solid #E2E2E2;
		border-right-width: 1px;
		border-left-width: 1px;
	}
		.people .title-usr {
			display: block;
			background-color: white;
			color: black;
			font-weight: bold;
			font-size: 80%;
			padding: 10px 3px 10px 10px;
			border: 0px solid #E2E2E2;
			border-top-width: 1px;
		}
		.people .cond-group{
			margin-top: 5px;
			margin-right: 5px;
			text-align: center;
			width: 35px;
			padding: 2px;
			display: block;
			color: #009999;
			background-color: white;
			font-size: 80%;
			float: right;
			border-radius: 3px;
			border: 1px solid #009999;
		}
		.people .usr-box .kick-usr{
			display: none;
			height: 30px;
			width: 30px;
			float: right;
			margin-top: 10px;
			border-radius: 0px;
			cursor: pointer;
		}
		.people .usr-box{
			margin: 1px 0px;
			min-height: 50px;
			padding: 5px;
			padding-left: 10px;
			padding-top: 10px;
		}
		.people .usr-box:hover{
			background-color: #F3F3F3;
		}
			.people .usr-box img{
				float: left;
				margin-right: 15px;
				height: 46px;
				width: 46px;
				border-radius: 23px;
			}
			.people .usr-box span{
				display: block;
				position: relative;
				top: 10px;
				font-size: 95%;
			}
			.people .delete-usr-cht,.people .delete-group-usr-cht,.people .out-usr-cht{
				display: none;
				padding: 3px 0px;
				text-align: center;
				font-size: 80%;
				color: white;
				background-color: #009999;
			}
			.people .out-usr-cht{
			}
			.people .delete-group-usr-cht{
				cursor: pointer;
				background-color: #B72C2C;
				display: block;
			}
	.container-chat .cht-box {
		display: block;
		height: 100%;
		overflow: hidden;
	}
		#send-button{
			display: inline-block;
			float: right;
			margin-right: 5%;
			margin-top: 15px;
			cursor: pointer;
			height: 25px;
		}
		.cht-box .content-cht {
			background-color: #EBEEF0;
			display: block;
			height: 90%;
			overflow: auto;
			border: 0px solid #E2E2E2;
			border-bottom-width: 1px;
		}
		.cht-box .input-cht {
			display: block;
			height: 10%;
		}
			.cht-box .input-cht textarea {
				font-size: 105%;
				display: inline-block;
				margin: 0px;
				border-width: 0px;
				width: 80%;
				height: 100%;
				outline: none;
				padding-top: 20px;
				padding-left: 20px;
				resize: none;
				font-family: 'Fira Sans Extra Condensed', sans-serif;
				background-color: white;
			}
		.content-cht .comment-center{
			background-color: #D1D4D7;
			display: block;
			margin: 5px auto;
			width: 35%;
			text-align: center;
			font-size: 90%;
			padding: 2px;
			border-radius: 5px;

		}
		.content-cht .comment-left , .content-cht .comment-right  {
			background-color: #EBEEF0;
			display: block;
			text-align: left;
		}
		 .content-cht .comment-right{
			 text-align: right;
		 }
			.comment-left .box, .comment-right .box{
				display: inline-block;
				background-color: white;
				padding: 7px;
				margin: 5px;
				margin-left: 70px;
				border-radius: 5px;
				min-width: 80px;
				max-width: 500px;
				color: #4B4B4B;
			}
			.comment-right .box{
				text-align: left;
				background-color: #CEFEA9;
				margin-left: 5px;
				margin-right: 70px;
			}
			.comment-left .box .name-coment, .comment-right .box .name-coment{
				display: block;
				font-size: 70%;
				font-weight: bold;
			}
			.comment-left .box .content-coment, .comment-right .box .content-coment{
				word-wrap: break-word;
			}
			.time-coment{
				float: right;
				font-size: 80%;
				padding-top: 3px;
				padding-left: 5px;
			}

	/*modal box- group chat page*/
	.msg-out, .delete-way{
		border-radius: 5px;
		background-color: white;
		display: block;
		margin: 250px auto auto auto;
		width: 320px;
		padding-bottom: 10px;

	}
	.msg-out span , .delete-way span {
		text-align: center;
		display: block;
		padding: 20px 0px 10px;
		margin-bottom: 20px;
	}
	.msg-out button , .delete-way button{
		display: block;
		width: 80%;
		background-color: #009999;
		color: white;
		border-radius: 2px;
		margin: auto auto 5px auto;
		border-width: 0px;
		padding: 5px 0px;
		cursor: pointer;
	}
	form > .yes-confirm{
		background-color: #B72C2C;
	}
	@media (max-width:950px) {
		.container-chat .people {
			display: none;
			background-color: white;
			border-right-width: 0px;
			position: fixed;
			top: 55px;
			left: 0px;
		}
		.people .title-usr {
			border-width: 0px;
		}
		.nav-chat ul {
			padding-right: 50px;
		}
		.nav-chat ul a{
			margin-right: 20px;
			color: white;
		}
		.nav-chat ul a:nth-child(2){
			display: none;
		}
		#info-button{
			display:block;
		}
		#logo-chat {
			display: none;
		}
		#back-chat{
			display: block;
		}
	}
	@media (max-width:600px) {
		.nav-chat ul li{
			min-width: 40px;
		}
	}
	@media (max-width:500px) {
		.comment-right .box{
			margin-right: 2px;
		}
		.comment-left .box {
			margin-left: 2px;
		}
		.comment-left .box, .comment-right .box{
			max-width: 290px;
		}

	}
	@media (max-width:450px) {
			#logo-chat{
				position: absolute;
				top: 20px;
				left: 50px;
				height: 25px;
			}
	}
	@media (max-width:350px) {
		.container-chat .people {
			width: 100%;
		}
	}
/*============================================CHAT-GROUP STYLE===================================================*/

/*============================================MAINTENANCE STYLE===================================================*/
.maintenance {
	padding-top: 150px;
	text-align: center;
	background-color: white;
	height: 700px;
}
.maintenance img {
	height: 150px;
}
.maintenance .title {
	font-size: 150%;
	font-weight: bold;
}
.maintenance a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	width: 100px;
	margin-top: 20px;
	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #005252;
}
@media (max-width:350px) {
	.maintenance img {
		height: 100px;
	}
}
/*============================================MAINTENANCE STYLE===================================================*/


/*============================================STOPS QUERY STYLE===================================================*/
.container-stops{
	padding: 10px;
	padding-bottom: 0px;
	display: inline-block;
	margin:0px 10px 0px 20%;
	width: 75%;
	min-height: 1200px;
	background-color: lightgray;
}
.container-stops .stop_query{
	display: block;
	width:100%;
	padding: 0px;
	min-height: 50px;
	margin: 5px auto 0px;
	text-align: center;
	border-width: 0px;
	border-radius: 4px;
}
.result{
	display: block;
	height: 300px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
	padding: 10px;
	margin: 15px 0px 0px;
}
.result .stop_image {
	float: left;
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
.result p, .result button {
	display: block;
	width: 50%;
	margin: 2px 2px 2px 20px;
	float: left;
	font-weight: bold;
}
.stop_autor{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;
	display: block;
	margin:0px;
	background-color: white;
}
.stop_autor img{
	width: 70px;
	border-radius: 50%;
}
/*============================================STOPS QUERY STYLE===================================================*/
