/*General styles*/
body{
	background-color: #EBEEF0;
	margin: 0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
/*============================================START FEED STYLE==============================================*/

/*============================================NAV BAR=======================================================*/

#nav_feed{
	display: none;
	position: fixed;
	top: 0px;
	background-color: #232626;
	width: 100%;
	height: 60px;
	z-index: 3;
}
#nav_feed ul {
	margin-top: 0px;
	list-style-type: none;
	padding: 0px;
	text-align: center;
}
#nav_feed ul li{
	display: inline-block;
}
#nav_feed ul li a {
	text-decoration: none;
}
#nav_feed ul li a img {
	padding: 7px;
	padding-top: 12px;
	height: 35px;
}
#bmenuw {
	height: 35px;
	width: 35px;
	position: fixed;
	top: 10px;
	right: 20px;
}

/*============================================NAV BAR=======================================================*/

/*============================================LEFT SIDE=====================================================*/
.options {
	display: block;
	position: absolute;
	margin: 0px;
	margin-top: -10px;
	background-color: #232626;
	color: white;
	width: 19%;
	height: 150%;
	text-align: center;
	}
	.options .editar {
		font-size: 80%;
		display: block;
		text-decoration: none;
		color: #009999;
		margin-bottom: 20px;
	}
		.options .editar:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	.options img {
		height: 120px;
		border-radius: 60px;
		display: block;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.options #logo-nav {
		border-radius: 0px;
		height: 30px;
		margin: 30px auto 0px auto;
	}
	.options .nombre {
		display: block;
		margin: 15px 10px 5px 5px;
	}

	.lista {
		display: block;
		margin-top: 20px;
		list-style-type: none;
		text-align: left;
	}
	.lista li span {
		margin-right: 5px;
		float: right;
	}
		.lista li {
			font-size: 90%;
			padding: 10px;
			margin-left: -30px;
		}
			.lista li:hover {
				color: #009999;
				font-weight: bold;
				cursor: pointer;
			}
		.lista li .icono {
			display: inline;
			margin-right: 15px;
			margin-top: -20px;
			border-radius: 0px;
			height: 15px;
		}
		.lista a {
			text-decoration: none;
			color: white;
		}

		.lista li span:before {
			margin-top: -7px;
			background:#009999;
			border: 3px solid #009999;
			content: "";
			display: inline-block;
			width: 0px;
			height: 30px;
			position: absolute;
			left: -10px;
		}
		.lista li:hover > span:before {
			left: 0px;
			transition: all 0.2s;
		}

/*============================================LEFT SIDE=====================================================*/

/*============================================CENTER SIDE===================================================*/

.find {
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	display: block;
	margin:10px 10px 10px 20%;
	height: 45px;
	width: 55%;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}

	.search {
		text-align: center;
		background-color: white;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0px -10px;
		margin-left: 0px;
		padding: 0px;
		border-width:0;
		font-size: 120%;
	}
		.find img {
			position: relative;
			left: 93%;
			top:-40px;
			background-color: white;
			height: 40px;
			width: 40px;
			cursor: pointer;
		}
		/*Para quitar el sombreado del input una vez se ha enfocado*/
		 .search:focus {
			outline: 0;
		}
		.find:hover {
			box-shadow: 0 0 1px;
		}

	#btn-add {
		position: fixed;
		bottom: 50px;
		right: 50px;
		font-size: 150%;
		width: 55px;
		height: 55px;
		padding: 5px;
		color: white;
		background-color: #009999;
		border-radius: 30px;
		border-width: 0px;
		outline: 0;
	}
		#btn-add:hover {
			cursor: pointer;
			background-color: #006E6E;
			font-size: 170%;
		}

#new-updates {
	display: none;
	}
#new-updates span{
	text-align: center;
	padding: 10px 10px;
	font-size: 90%;
	display: inline-block;
	margin:0px 10px 10px 20%;
	width: 55%;
	cursor: pointer;
	background-color: #F6F6F6;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
.no-results{
	text-align: center;
	display: none;
	padding: 30px 10px;
	margin:0px 10px 20px 20%;
	width: 55%;
	background-color: white;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
}
.publicaciones, .publicaciones-n {
	padding: 10px;
	padding-bottom: 0px;
	display: inline-block;
	margin:0px 10px 0px 20%;
	width: 55%;
	background: white;
	min-height: 100px;
	font-size: 90%;
	box-shadow: 0 0 1px rgba(160,165,168,1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
	.publicaciones a , .publicaciones-n a{
		text-decoration: none;
		color: black;
	}
.publicaciones:hover , .publicaciones-n:hover {
	background-color: #F5F8FA;
	cursor: default;
}
	.publicaciones img , .publicaciones-n img {
		cursor: pointer;
		border-radius: 35px;
		float: left;
		margin: 10px 10px 10px 5px;
		height: 70px;
	}
	.publicaciones .name, .publicaciones-n .name {
		font-size: 80%;
		margin-bottom: 10px;
		font-weight: bold;
		display: block;
	}
	.rt-title{
		text-align: center;
		font-size: 80%;
		background-color: #F1F1F1;
		background-color: #009999;
		color: white;
		margin: 0px -10px;
	}
	.ruta , .ruta-n {
		display: block;
		text-align: center;
		padding: 5px 10px;
		display: inline-block;
		margin:-1px 10px 10px 20%;
		width: 55%;
		background-color: #007272;
		color: white;
		font-size: 90%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.ruta span:hover , .ruta-nspan:hover {
		font-weight: bold;
		cursor: pointer;
	}
	.publicaciones .comentario, .publicaciones-n .comentario {
		margin-left: 85px;
		margin-top: 5px;
		display: block;
	}
	.publicaciones .cupo , .publicaciones-n .cupo {
		margin-left: 15px;
		float: right;
		color: #009999;
		font-size: 100%;
		display: block;
	}
	.botones{
		padding-top: 5px;
		height: 30px;
	}
	.btn-pedirCupo, .btn-eliminar {
		width: 80px;
		float: right;
		padding: 5px;
		color: gray;
		background-color: #F1F1F1;
		border-width: 0px;
	}
	 .btn-pedirCupo:hover, .btn-pedirCupo:focus, .btn-eliminar:hover, .btn-eliminar:focus  {
		cursor: pointer;
		color: #006161;
		outline-color: #006161;
	}
/*============================================CENTER SIDE===================================================*/

/*============================================RIGHT SIDE====================================================*/
.news {
	margin-top: 0px;
	display: inline-block;
	background: white;
	float: right;
	width: 18%;
	height: 300px;
	margin-right: 10px;
	padding: 15px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}

.ads {
	clear: right;
	margin-top: 15px;
	background: white;
	float: right;
	width: 18%;
	height: 400px;
	margin-right: 10px;
	padding: 15px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
	border-radius: 3px;
}
	.ads .copy {
		font-size: 95%;
	}
	.ads a {
		font-size: 90%;
		text-decoration: none;
		color: darkgrey;
	}
		.ads a:hover {
			text-decoration: underline;
		}

/*============================================RIGHT SIDE====================================================*/
/*============================================MODAL WINDOW====================================================*/
.modal-box {
		display: none;
		background: rgba(0, 0, 0, 0.4);
		position: fixed;
		left: 0;
		top: 0;
		height: 260%;
		width: 100%;
		z-index: 3;
}
/*=====scrollbarr=========*/
	::-webkit-scrollbar{
	  width: 8px;  /* for vertical scrollbars */
	  height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track{
	  background: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-thumb{
	  background: rgba(0, 0, 0, 0.5);
	}
/*=====scrollbarr=========*/
.modal-window {
	display: block;
	margin: 40px auto 0px auto;
	height: 550px;
	width: 630px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(160,165,168,1);
}
	#back{
		cursor: pointer;
		display: block;
		position: relative;
		top: -98%;
		left: 7px;
		height: 25px;
		width: 25px;
	}
	.modal-window .encb{
		width: 300px;
		float: left;
	}
	.encb .block, .encb2 .block {
		display: block;
	}
		.modal-window .encb img {
			display: block;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			height: 200px;
			width: 200px;
			border-radius: 100px;
		}
		.modal-window .encb label, .modal-window .encb2 label {
			text-align: right;
			display: inline-block;
			font-size: 80%;
			width: 80px;
		}
		.modal-window .encb span, .modal-window .encb2 span {
			text-align: center;
			display: inline-block;
			margin-left: 5px;
			font-weight: bold;
			font-size: 90%;
		}
		.modal-window .encb span:nth-child(2) {
			padding-top: 30px;
		}

	.modal-window .info-usr {
		background-color: #F5F5F5;
		display: block;
		float: left;
		margin-left: 10px;
		text-align: left;
		height: 100%;
		width: 320px;
		border-width: 1px;
		border-color: black;
	}
	#data_option{
		display: none;
	}
		.info-usr ul {
			background-color: white;
			padding: 0px;
			margin: 0px;
			height: 30px;
			list-style-type: none;
		}
		.info-usr ul li {
			cursor: pointer;
			padding: 0px;
			margin: 0px;
			margin-top: -5px;
			width: 32%;
			height: 25px;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			font-size: 80%;
		}
		.info-usr .li_underline {
			position: relative;
			display: inline-block;
			top:22px;
			height: 2px;
			width: 100%;
			background-color: #009999;
		}
		.transport_info{
			height: 92%;
			overflow: auto;
		}
			.transport_info .tr-box{
				display: block;
				background-color: white;
				margin: 5px;
				min-height: 50px;
				border: 1px solid #E2E2E2;
			}
			.transport_info .tr-box label{
				display: block;
				font-size: 90%;
				font-weight: bold;
				margin: 0px 0px 0px 7px;
				padding-top: 7px;
			}
			.transport_info .tr-box span{
				display: block;
				text-align: center;
				padding: 0px 10px 5px;
			}
			.transport_info .tr-box img{
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding: 15px 0px;
			}
		.routes_info{
			display: none;
			height: 90%;
			overflow: auto;
		}
			.routes_info .rts-box {
				border: 1px solid #D0D0D0;
				display: block;
				margin: 5px auto 10px;
				width: 70%;
				background-color: white;
			}
			.routes_info .rts-box span {
				text-align: center;
				display: block;
				padding: 10px;
				font-size: 80%;
			}
			.routes_info .rts-box span:last-child {
				background-color: #EBEBEB;
			}
			.routes_info .rts-box span:hover {
				cursor: pointer;

			}

		.comments_info{
			display: none;
			height: 90%;
			overflow: auto;
		}
			.comments_info .cm-box{
				background-color: white;
				margin: 5px;
				padding: 5px;
				border: 1px solid #E2E2E2;
				min-height: 60px;
			}
			.comments_info .cm-box img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				float: left;
				margin: 10px;
			}
			.comments_info .cm-box label {
				display: block;
				font-size: 90%;
				padding-top: 5px;
			}
			.comments_info .cm-box span {
				font-size: 85%;
			}
		.data_info{
			display: none;
		}

		.error_way{
			display: none;
			text-align: center;
			margin: 150px auto auto auto;
			background-color: white;
			width: 300px;
			padding: 10px;
			min-height: 100px;
		}
		.error_way span{
			padding-top: 10px;
			padding-bottom: 40px;
			display: block;
		}
		.error_way button{
			display: block;
			width: 100%;
			background-color: #009999;
			color: white;
			border-width: 0px;
			border-radius: 3px;
			padding: 5px 0px;
			cursor: pointer;
		}
/*============================================MODAL WINDOW====================================================*/

/*============================================RESPONSIVE FEED===============================================*/
/*responsiveeeeeeeeeeeeeeee*/

@media (max-width: 1000px) {
	/*barra de busqueda*/
	.ads , .news, .recomendados {
		display: none;
	}
	/*feed*/
	.find , .publicaciones, .publicaciones-n , .ruta, .ruta-n,.no-results{
		width: 70%;
		margin-left: 25%;
	}
	.options{
		width: 23%;
	}
}

@media (max-width: 800px) {
	/*desaparece panel izquierdo y aparece en la barra .navFeed*/
	#nav_feed{
		display: block;
	}
	.options {
		display: none;
		width: 250px;
		margin-top: -10px;
	}
	#logo-nav {
		display: none;
	}
	.find {
		display: block;
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
	.publicaciones, .publicaciones-n , .ruta , .ruta-n, .no-results {
		margin-left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
	.no-results{
		display: none;
	}
}

@media (max-width:480px) {
	.publicaciones , .publicaciones-n , .find , .ruta, .ruta-n{
		width: 94%;
	}
	.publicaciones, .publicaciones-n {
		width: 94%;
	}
	.publicaciones img , .publicaciones-n img{
		width: 50px;
		height: 50px;
	}
	.publicaciones .comentario, .publicaciones-n .comentario {
		margin-left: 65px;
	}
	.ruta , .ruta-n {
		font-size: 70%;
	}
}

@media (max-width:650px) {
	#back{
		top: -108%;
	}
	#data_option{
		display: inline-block;
	}
	.info-usr ul li {
		width: 22%;
	}
	.data_info{
		padding: 0px;
		margin: 10px;
		height: 80%;
		background-color: white;
	}
	.encb2 .block{
		height: 45px;
		float: none;
		display: block;
		width: 97%;
	}
	.encb2 .block:nth-child(1) {
		padding-top: 30px;
	}
	.encb2 .block label{
		width: 25%;
		font-size: 100%;
	}
	.encb2 .block span{
		font-size: 100%;
	}
	.modal-window {
		height: 100%;
		width: 70%;
		margin-top: 0px;
		overflow: auto;
	}
	.modal-window .encb{
		overflow: hidden;
		height: 150px;
		width: auto;
		float: none;
		margin: 0px;
		padding-top: 3px;
	}
	.modal-window .info-usr {
		float: none;
		width: auto;
	}
	.modal-window .encb img {

		height: 100px;
		width: 100px;
	}
}
@media (max-width:550px) {
	.modal-window {
		width: 100%;
	}
	.encb2 .block label{
		width: 100px;
		padding: 0 4px;
		font-size: 90%;
	}
}

@media (max-width:500px) {
	.find img {
		position: relative;
		left: 88%;
	}
	.encb2 .block{
		height: 50px;
	}
	.encb2 .block label{
		text-align: left;
		float: none;
		padding-left: 10px;
		display: block;
		width: 80px;
	}
	.encb2 .block span{
		padding-top: 5px;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

}
/*============================================RESPONSIVE FEED===============================================*/
/*============================================END FEED STYLE================================================*/





/*============================================PROFILE STYLE===================================================*/
/*============================================NAV BAR PROFILE=================================================*/
.navProfile {
	width: 100%;
	position: absolute;
	z-index: 2;
}
.navProfile #bmenu {
	display: none;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
}
.navProfile ul {
	margin: 0px;
	margin-left: 270px;
	background-color: white;
	padding: 0px;
	padding-top: 27px;
	list-style-type: none;
	height: 44px;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
	.navProfile ul li {
		display: inline;
	}
	.navProfile ul li a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	.navProfile ul li span {
		display: inline;
		font-weight: bold;
		font-size: 110%;
	}
	.navProfile ul li:nth-child(1){
		margin-left: 25px;
	}

/*============================================NAV BAR PROFILE=================================================*/
/*============================================BIG CONTAINER=================================================*/
.big_container{
	/*padding izq es mayor por la barra lateral de 275px*/
	padding: 40px;
	padding-left: 315px;
}
/*============================================BIG CONTAINER=================================================*/
/*============================================GENERAL INFO STYLE==============================================*/
.left-section {

	position: fixed;
	background-color: #232626;
	width: 275px;
	z-index: 3;
	height: 100%;
	box-shadow: 0 0 1px rgba(160,165,168,1);
}
.logo-section {
	padding: 25px 0px;
	text-align: center;
}
.logo-section a {
	text-decoration: none;
}
.logo-section img{
	height: 25px;
}

.generalInfo {
	background-color: #232626;
	padding-top: 10px;
	height: 50%;
	color: white;
}
	#little_img  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		border-radius: 90px;
		padding: 2px;
		background-color: grey;
		cursor: pointer;
	}

	#profile_Image {
		height: 350px;
		width: 300px;
		background-color: white;
		display: none;
		text-align: center;
		position: fixed;
		border-radius: 5px;
		top: 100px;
		left:500px;
		z-index: 2;
	}
		#profile_Image  input{
			display: block;
		}
		#profile_Image  button{
			display: block;
			cursor: pointer;
		}
		#big_image {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			height: 250px;
			width: 250px;
			border-radius: 125px;
		}

		#profile_Image input[type="file"]{
			display: none;
		}
		#profile_Image label {
			display: inline-block;
			padding: 10px;
			color: black;
			background-color: #E4E4E4;
			cursor: pointer;
			font-size: 90%;
			border-radius: 3px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-width: 0px;
			margin-top: 20px;
			margin-right: -4px;
		}
		#profile_Image button {
			display: inline-block;
			text-align: right;
			padding: 10px;
			background-color: #009999;
			color: white;
			cursor: pointer;
			font-size: 90%;
			border-radius: 3px;
			border-width: 0px;
			margin-top: 20px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

	.generalInfo .options-left-section ul {
		list-style-type: none;
		padding-left: 60px;
		margin-top: 50px;
	}
	.generalInfo .options-left-section ul a {
		text-decoration: none;
		color: white;
	}
		.generalInfo .options-left-section ul li {
			padding-top: 15px;
			height: 30px;
		}

		.generalInfo .options-left-section ul li:hover {
			color: #009999;
			font-weight: bold;
			cursor: pointer;
		}
		.generalInfo .options-left-section ul li span:before {
			margin-top: -7px;
			background:#009999;
			border: 3px solid #009999;
			content: "";
			display: inline-block;
			width: 0px;
			height: 30px;
			position: absolute;
			left: -10px;
		}
		.generalInfo .options-left-section ul li:hover > span:before {
			left: 0px;
			transition: all 0.2s;
		}



/*============================================GENERAL INFO STYLE==============================================*/

/*============================================FORM ADD ROUTES STYLE==============================================*/
#addRouteBox {
	display: none;
	background-color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 260%;
	width: 100%;
	z-index: 3;
}
#addRoute {
	display: none;
	margin-left: auto;
	margin-right: auto;
     margin-top:50px;
	padding: 0px;
	padding-bottom: 10px;
	background: rgba(255, 0, 0, 1);
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 10px;
	width: 300px;
	min-height: 300px;
}
#addRoute p {
	background-color: #002A2A;
	color: white;
	padding: 15px 5px;
	text-align: center;
}
#addRoute input , #addRoute button , #addRoute select{
	padding: 5px;
	text-align: center;
	width: 260px;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
#addRoute .rutaXBox select{
	width: 88%;
}
#addRoute input {
	outline: none;
	border-width: 0px;
	border-bottom-width: 2px;
	border-color: #E5E5E5;
	background-color:  white;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.2s;
}
		#addRoute input:focus{
			border-color: #A5A5A5;
			padding-top: 15px;
			font-size: 90%;
		}
#addRoute select {
	/*solo sirve para chrome , creo*/
	text-align-last: center;
	display: inline-block;
	border-width: 0px;
	background-color: #E3E3E3;
	padding: 5px ;
	margin-bottom: 20px;
	margin-left: 15px;
}

#addRoute button , #addRoute select{
	width: 270px;
}
#addRoute button {
	color: white;
	background-color: #002A2A;
	border-width: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
}
		#addRoute button:hover {
			font-weight:  bold;
		}

#addRoute #closeAddRoute {
	background-color: #861212;
	font-weight: bold;
	width: 25px;
	height: 25px;
	padding: 0px;
	border-radius: 13px;
	position: absolute;
	margin-left: 285px;
	margin-top: -13px;
}

/*Checked para sesionopen (formulario de crear un recorrido)*/
#addRoute input[type="radio"] {
	display: none;
}
#addRoute .rutaXBox{
	display: block;
	margin: 5px auto;
	height: 30px;
	width: 270px;
	text-align: left;
}
#addRoute label {
	background-color: #E3E3E3;
	display: inline-block;
	height: 26px;
	width: 26px;
	cursor: pointer;
	position: relative;
	transition: all .2s
}
 #addRoute label:before {
	background:#002A2A;
	border: 3px solid #002A2A;
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 7px;
	left: 7px;
	transition: all .2s;
}
#addRoute  input[type="radio"]:checked + label:before{
	background-color: #002A2A;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}
#addRoute .opt-routes{
	position: relative;
	top: -9px;
	width: 240px;
	margin: 0px;
}
#addRoute .finish_start{
	display: block;
	margin: 5px auto;
	margin-bottom: 40px;
	width: 270px;
	background-color: #E3E3E3;
}
.finish_start span {
	background-color: white;
	display: block;
	padding: 3px;
	font-size: 80%;
	margin-bottom: 5px;
	font-weight: bold;
}

	#addRoute #start_l:before , #addRoute #finish_l:before  {
		content: "Termina";
		background-color: #C1C1C1;
		border: none;
		display: inline-block;
		width: 6px;
		height: 6px;
		position: absolute;
		top: 5px;
		left: 45px;
		transition: all .2s;
	}

	#addRoute #start_l:before{
		content:"Comienza";
		left: 30px;
	}
	#addRoute #start_l , #addRoute #finish_l  {
		width: 135px;
		margin-top: -5px;
		float: right;
		background-color: #E3E3E3;
		font-size: 80%;
	}
	#addRoute #start_l{
		float: left;
	}
	#addRoute  #start:checked + label, #addRoute  #finish:checked + label, #addRoute  #start:checked + label:before, #addRoute  #finish:checked + label:before{
		background-color: #002A2A;
		color: white;
	}
	#commentTitle {
		font-size: 80%;
		display: inline-block;
		width: 270px;
		margin-left: 15px;
		font-weight: bold;
	}
	#addRoute textarea {
		margin-bottom: 10px;
		margin-top: -1px;
		margin-left: 15px;
		border: none;
		background-color: #E3E3E3;
		min-width: 266px;
		max-width: 266px;

	}
/*============================================FORM ADD ROUTES STYLE==============================================*/
	.update-done{
		position: fixed;
		bottom: 40px;
		left: 40%;
		display: block;
		width: 200px;
		text-align: center;
		padding: 5px;
		border-radius: 15px;
		background-color: #009999;
		color: white;
		cursor: pointer;
	}
	/*     titulos   */
	.basicInfo > .title , .userRutesBox > .title , .qualificationsBox> .title , .transportInfo > .title{
		text-align: left;
		padding: 10px;
		padding-left: 20px;
		padding-top: 25px;
		font-size: 120%;
		font-weight: bold;
		border-width: 0px;
		border-style:  solid;
		border-bottom-width: 2px;
		border-color: #E5E5E5;
	}
	.userRutesBox > .title{
		background-color: white;
	}
	.basicInfo > .title span ,.userRutesBox > .title span , .qualificationsBox> .title span , .transportInfo > .title span{
		display: block;
		font-size: 75%;
		font-weight: normal;
		margin-top: 5px;
		margin-bottom: 5px;
	}
		/*		informacion basica		*/
		.basicInfo , .transportInfo {
			margin-top: 60px;
			text-align: right;;
			box-shadow: 0 0 1px rgba(160,165,168,1);
			background-color: white;
			border-radius: 3px;
			overflow: hidden;
		}
			.basicInfo ul , .transportInfo ul {
				list-style-type: none;
				padding: 0px;
				padding-left: 25px;
				text-align: left;
			}
			.basicInfo ul li , .transportInfo ul li {
				width: 45%;
				display: inline-block;
				margin-bottom: 15px;
			}
			.basicInfo ul li:nth-child(2n), .transportInfo ul li:nth-child(2n) {
				margin-left: 5%;
			}
			.basicInfo ul li label , .transportInfo ul li label {
				font-weight: lighter;
				font-size: 90%;
				width: 400px;
			}
			.basicInfo ul li input, .transportInfo ul li input {
				display: block;
				width: 90%;
				height: 27px;
				border-width: 0px;
				border-style:  solid;
				border-bottom-width: 2px;
				border-color: #E5E5E5;
				background-color:  white;
				padding-left: 20px;
				margin-left: auto;
				margin-right: auto;
				transition: all 0.2s;
				font-size: 110%;
			}
			.basicInfo ul li input:focus , .transportInfo ul li input:focus{
				outline: none;
				border-color: #292929;
				height: 25px;
			}
			.basicInfo button , .transportInfo button {
				text-align: right;
				padding: 10px;
				background-color: #009999;
				color: white;
				cursor: pointer;
				font-size: 100%;
				border-radius: 3px;
				border-width: 0px;
				margin-right: 20px;
				margin-bottom: 15px;
			}

		/*   Transporte*/
		.transportInfo {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.transportInfo .add-transport-box {
			padding: 15px;
			text-align: center;
		}
		.transportInfo form {
			display: none;
		}
		#delete_transport_form {
			border-radius: 3px;
			display: none;
			position: fixed;
			top: 200px;
			left: 35%;
			background-color: white;
			width:350px;
			height: 210px;
		}
			#delete_transport_form span{
				display: block;
				text-align: center;
				height: 80px;
				padding: 15px;
				padding-top: 25px;
			}
			#delete_transport_form button{
				cursor: pointer;
				border-radius: 3px;
				margin-top: 4px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
				border: 3px solid #009999;
				color: white;
				padding: 5px 0px;
				background-color: #009999;
				box-shadow: 0px 0px 0px;
			}
			#delete_transport_form button:nth-child(4){
				background-color: #B72C2C;
				border: 3px solid #B72C2C;
			}

		#form-update-transport {
			display: block;
		}
		.basicInfo input[type="radio"] , .transportInfo input[type="radio"] {
			  display: none;
		  }
		  .basicInfo .radio, .transportInfo .radio {
			  padding-top: 5px;
			  display: block;
			  width: 110%;
			  position: relative;
			  z-index: 0;
			  text-align: center;
		  }
		  .basicInfo input[type="file"], .transportInfo input[type="file"] {
			  display: none;
		  }
		  .basicInfo .radio label , .transportInfo .radio label {
			  width: 90px;
			  font-size: 14px;
			  color: gray;
			  background-color: #F3F3F3;
			  display: inline-block;
			  margin-bottom: 20px;
			  padding: 10px;
			  padding-left: 40px;
			  padding-right: 20px;
			  position: relative;
			  border-radius: 3px;
			  cursor: pointer;
		  }
		  .basicInfo .radio label:before , .transportInfo .radio label:before {
			  background:none;
			  border: 3px solid #002A2A;
			  content: "";
			  display: inline-block;
			  width: 13px;
			  height: 13px;
			  border-radius: 50%;
			  position: absolute;
			  top: 8px;
			  left: 12px;
		  }
		  .basicInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .transportInfo .radio input[type="radio"]:checked + label:before{
			  background-color: #002A2A;
		  }
		  .basicInfo select, .transportInfo select {
		  	display: block;
		  	margin-bottom: 20px;
		  	border-width: 0px;
			margin-left: auto;
			margin-right: auto;
			width: 95%;
			padding: 15px;
			background-color: #F3F3F3;
		  }
		  .transportInfo select{
			  margin-top: 5px;
			  padding: 7px;
		  }
		  .transportInfo img {
			  border-radius: 5px;
			  border-bottom-right-radius: 0px;
			  border-bottom-left-radius: 0px;
			  margin-top: 10px;
			  display: block;
			  width: 420px;
		  }
		  .file_label {
			  text-align: center;
			  cursor: pointer;
			  display: block;
			  color: white;
			  padding: 10px;
			  background-color: #009999;
		  }
		/*   Transporte*/

		.security{
			text-align: left;
		}
		.security h4{
			padding-top: 15px;
			padding-left: 25px;
		}
		.security > span {
			display: block;
			margin-left: 25px;
			margin-right: 25px;
			margin-top: -15px;
			padding-bottom: 20px;
			font-size: 95%;
		}
		.security ul{
			list-style-type: none;
			padding: 0px;
		}
		.security ul li:nth-child(2n){
			margin-left: 30px;
		}
		.security ul li{
			margin-left: 30px;
			display: block;
			width: 100%;
		}
		.security ul li span {
			display: inline-block;
			width: 45%;
		}
		.security ul li input[type="checkbox"] {
			display: inline-block;
			height: 20px;
			width: 20px;
		}



		/*		RUTAS DEL USUARIO		*/
		.userRutesBox {
			text-align: center;
			box-shadow: 0 0 1px rgba(160,165,168,1);
			margin-bottom: 20px;
			background-color: #F5F5F5;
			border-radius: 3px;
		}
						/*boton agregar ruta*/
						.box-button {
							text-align: right;
							height: 60px;
						}
						.userAddRutes {
							display: block;
							padding: 10px;
							background-color: #009999;
							color: white;
							cursor: pointer;
							font-size: 100%;
							border-radius: 3px;
							border-width: 0px;
							float: right;
							margin-right: 35px;
						}
						/*boton agregar ruta*/
		.userRutes {
			display: inline-block;
			padding:5px;
			width: 210px;
			min-height: 200px;
			background-color: white;
			margin: 15px;
			border-radius: 5px;
			border: 1px solid #E2E2E2;
		}
		.userRutes span {
			display: block;
			float: left;
			clear: both;
			width: 100%;
			padding: 12px 0px;
			color: black;
			background-color: white;
			font-size: 80%;
			cursor: pointer;
		}
		.userRutes span:hover {
			background-color: #EBEBEB;
		}
		.userRutes span:nth-child(1){
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		/*		RUTAS DEL USUARIO		*/
		/*		Qualifications- calificaciones		*/
			.qualificationsBox {
				background-color: white;
				box-shadow: 0 0 1px rgba(160,165,168,1);
				border-radius: 3px;
			}
			.qualifications{
				display: block;
				padding:40px;
				background-color: white;
			}
			.qualifications:hover {
				background-color: #F7F7F7;
			}
			.qualifications .number {
				font-size: 110%;
				font-weight: bold;
				margin-top: 10px;
				margin-bottom: 15px;
				margin-left: 10px;
				float: right;
			}
			.qualifications img {
				float: left;
				height: 60px;
				border-radius: 30px;
				margin-top: -10px;
				margin-left: -10px;
			}
			.qualifications .name {
				font-weight: bold;
				display: block;
				margin-left: 70px;
			}
			.qualifications .comment {
				display: block;
				margin-left: 70px;
			}
		/*		Qualifications- calificaciones		*/

/*============================================RESPONSIVE PROFILE PAGE=========================================*/
@media (max-width:1240px) {
	.basicInfo ul li , .transportInfo ul li {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.basicInfo ul li:nth-child(2n), .transportInfo ul li:nth-child(2n) {
		margin-left: auto;
	}
	.basicInfo ul li label, .transportInfo ul li label {
		margin-left: 5%;
	}
	.basicInfo ul li input, .transportInfo ul li input {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.basicInfo ul li select, .transportInfo ul li select {
		width: 80%;
	}
	.transportInfo img {
		margin-top: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 420px;
	}
	.transportInfo ul li .file_label {
		margin-left: auto;
		margin-right: auto;
	}
	#profile_Image {
		left:400px;
	}

	.security ul li:nth-child(2n){
		margin-left: 30px;
	}
	.security ul li{
		margin-left: 30px;
		display: block;
		width: 100%;
	}
	.security ul li span {
		display: inline-block;
		width: 70%;
	}
	.security ul li input[type="checkbox"] {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0px;
	}

}
@media (max-width:850px) {
	.transportInfo img,.transportInfo ul li .file_label {
		width: 80%;
	}
	.transportInfo ul li .file_label {
		padding: 10px 0px;
		width: 80%;
	}
	.basicInfo .radio , .transportInfo .radio {
		width: 100%;
	}
	.basicInfo .radio label , .transportInfo .radio label {
		width: 20%;
	}
	#profile_Image {
		left:250px;
	}

}
@media (max-width:800px) {
	.left-section{
		display: none;
		z-index: 3;
		width: 225px;
	}
	.big_container{
		padding-left: 40px;
	}
	.navProfile ul {
		margin:0px;
	}
	#delete_transport_form {
		left: 20%;
	}
	.navProfile #bmenu {

		display: inline-block;
	}
	.navProfile {
		position: fixed;
		top: -3px;
		left: -3px;
		border: 2px solid #C9C9C9;
	}
}
@media (max-width:650px) {
	#profile_Image {
		left:150px;
	}
}
@media (max-width:500px) {
	#delete_transport_form {
		top: 200px;
		left:0;
		width:100%;
	}
	.big_container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.basicInfo ul, .transportInfo ul {
		padding: 0px;

	}
	.basicInfo ul li label, .transportInfo ul li label {
		margin-left: 20px;
	}
	.basicInfo ul li input, .transportInfo ul li input {
		width: 90%;
	}
	.basicInfo ul li select, .transportInfo ul li select {
		width: 90%;
	}
	.transportInfo img,.transportInfo ul li .file_label {
		width: 90%;
	}
	.transportInfo ul li .file_label {
		padding: 10px 0px;
		width: 90%;
	}
	#profile_Image {
		width: 100%;
		left:0;
	}
}

/*============================================RESPONSIVE PROFILE PAGE=========================================*/
/*============================================PROFILE STYLE===================================================*/


/*============================================GROUP STYLE===================================================*/
.nav-chat {
	color: white;
}
.nav-chat a {
	text-decoration: none;
	color: white;
}
	.nav-chat ul{
		text-align: right;
		list-style: none;
		padding: 5px 150px 0px 0px;
		margin: 0px;
		background-color: #232626;
		height: 55px;
	}
	.nav-chat ul li{
		min-width: 90px;
		display: inline-block;
	}
	#info-button{
		display: none;
		height: 30px;
		width: 30px;
		top: 15px;
		right: 15px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.nav-chat img {
		position: relative;
		top: 10px;
		left: -10px;
		height: 30px;
		width: 30px;
		border-radius: 15px;
	}
	#logo-chat{
		position: absolute;
		top: 10px;
		left: 100px;
		height: 40px;
	}
.container-chat{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 100%;
	height: 610px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
	.container-chat .people {
		overflow: auto;
		display: block;
		float: left;
		width: 350px;
		height: 100%;
		border: 0px solid #E2E2E2;
		border-right-width: 1px;
		border-left-width: 1px;
	}
		.people .title-usr {
			display: block;
			background-color: white;
			color: black;
			font-weight: bold;
			font-size: 80%;
			padding: 10px 3px 10px 10px;
			border: 0px solid #E2E2E2;
			border-top-width: 1px;
		}
		.people .cond-group{
			margin-top: 5px;
			margin-right: 5px;
			text-align: center;
			width: 35px;
			padding: 2px;
			display: block;
			color: #009999;
			background-color: white;
			font-size: 80%;
			float: right;
			border-radius: 3px;
			border: 1px solid #009999;
		}
		.people .usr-box .kick-usr{
			display: none;
			height: 30px;
			width: 30px;
			float: right;
			margin-top: 10px;
			border-radius: 0px;
			cursor: pointer;
		}
		.people .usr-box{
			margin: 1px 0px;
			min-height: 50px;
			padding: 5px;
			padding-left: 10px;
			padding-top: 10px;
		}
		.people .usr-box:hover{
			background-color: #F3F3F3;
		}
			.people .usr-box img{
				float: left;
				margin-right: 15px;
				height: 46px;
				width: 46px;
				border-radius: 23px;
			}
			.people .usr-box span{
				display: block;
				position: relative;
				top: 10px;
				font-size: 95%;
			}
			.people .delete-usr-cht,.people .delete-group-usr-cht,.people .out-usr-cht{
				display: none;
				padding: 3px 0px;
				text-align: center;
				font-size: 80%;
				color: white;
				background-color: #009999;
			}
			.people .out-usr-cht{
			}
			.people .delete-group-usr-cht{
				cursor: pointer;
				background-color: #B72C2C;
				display: block;
			}
	.container-chat .cht-box {
		display: block;
		height: 100%;
		overflow: hidden;
	}
		#send-button{
			display: inline-block;
			float: right;
			margin-right: 5%;
			margin-top: 15px;
			cursor: pointer;
			height: 25px;
		}
		.cht-box .content-cht {
			background-color: #EBEEF0;
			display: block;
			height: 90%;
			overflow: auto;
			border: 0px solid #E2E2E2;
			border-bottom-width: 1px;
		}
		.cht-box .input-cht {
			display: block;
			height: 10%;
		}
			.cht-box .input-cht textarea {
				font-size: 105%;
				display: inline-block;
				margin: 0px;
				border-width: 0px;
				width: 80%;
				height: 100%;
				outline: none;
				padding-top: 20px;
				padding-left: 20px;
				resize: none;
				font-family: 'Fira Sans Extra Condensed', sans-serif;
				background-color: white;
			}
		.content-cht .comment-center{
			background-color: #D1D4D7;
			display: block;
			margin: 5px auto;
			width: 35%;
			text-align: center;
			font-size: 90%;
			padding: 2px;
			border-radius: 5px;

		}
		.content-cht .comment-left , .content-cht .comment-right  {
			background-color: #EBEEF0;
			display: block;
			text-align: left;
		}
		 .content-cht .comment-right{
			 text-align: right;
		 }
			.comment-left .box, .comment-right .box{
				display: inline-block;
				background-color: white;
				padding: 7px;
				margin: 5px;
				margin-left: 70px;
				border-radius: 5px;
				min-width: 80px;
				max-width: 500px;
			}
			.comment-right .box{
				text-align: left;
				background-color: #009999;
				color: white;
				margin-left: 5px;
				margin-right: 70px;
			}
			.comment-left .box .name-coment, .comment-right .box .name-coment{
				display: block;
				font-size: 70%;
				font-weight: bold;
			}
			.comment-left .box .content-coment, .comment-right .box .content-coment{
				word-wrap: break-word;
			}
			.time-coment{
				float: right;
				font-size: 80%;
				padding-top: 3px;
				padding-left: 5px;
			}

	/*modal box- group chat page*/
	.msg-out, .delete-way{
		border-radius: 5px;
		background-color: white;
		display: block;
		margin: 250px auto auto auto;
		width: 320px;
		padding-bottom: 10px;

	}
	.msg-out span , .delete-way span {
		text-align: center;
		display: block;
		padding: 20px 0px 10px;
		margin-bottom: 20px;
	}
	.msg-out button , .delete-way button{
		display: block;
		width: 80%;
		background-color: #009999;
		color: white;
		border-radius: 2px;
		margin: auto auto 5px auto;
		border-width: 0px;
		padding: 5px 0px;
		cursor: pointer;
	}
	form > .yes-confirm{
		background-color: #B72C2C;
	}
	@media (max-width:350px) {
		.container-chat .people {
			width: 100%;
		}
	}
	@media (max-width:600px) {
		.nav-chat ul a span{
			display: none;
		}
		.nav-chat ul li{
			min-width: 40px;
		}
	}
	@media (max-width:950px) {
		.container-chat .people {
			display: none;
			background-color: white;
			border-right-width: 0px;
			position: fixed;
			top: 55px;
			left: 0px;
		}
		.people .title-usr {
			border-width: 0px;
		}
		.nav-chat ul {
			background-color: white;
			padding-right: 50px;
		}
		.nav-chat ul a{
			color: black;
		}
		.nav-chat ul a:nth-child(2){
			display: none;
		}
		#info-button{
			display:block;
		}
		#logo-chat {
			content:url("../Imagenes/logo-name.png");
		}
	}
	@media (max-width:500px) {
		.comment-right .box{
			margin-right: 2px;
		}
		.comment-left .box {
			margin-left: 2px;
		}
		.comment-left .box, .comment-right .box{
			max-width: 290px;
		}

	}
	@media (max-width:450px) {
			#logo-chat{
				position: absolute;
				top: 20px;
				left: 50px;
				height: 25px;
			}
	}
/*============================================CHAT-GROUP STYLE===================================================*/

/*============================================MAINTENANCE STYLE===================================================*/
.maintenance {
	padding-top: 150px;
	text-align: center;
	background-color: white;
	height: 700px;
}
.maintenance img {
	height: 150px;
}
.maintenance .title {
	font-size: 150%;
	font-weight: bold;
}
.maintenance a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	width: 100px;
	margin-top: 20px;
	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #005252;
}
@media (max-width:350px) {
	.maintenance img {
		height: 100px;
	}
}
/*============================================MAINTENANCE STYLE===================================================*/
